@import url("fontawesome-all.min.css");
@import url('../font/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

/* font-family:'Open Sans', sans-serif;
   font-family: 'Lato', sans-serif; */
   
   /* Icon Color Code:#202e4b */

*, html{
  padding:0; margin:0;
  box-sizing:border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{font-family:"Arial";background-color:#e2e2e5;color:#3a3c46;overflow-x:hidden;font-size:14px;}


input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], 
select {
  -webkit-appearance:none!important;
  -moz-appearance:none!important;
  appearance:none!important;
  box-shadow:none!important;
  border-radius:2px;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
img{max-width:100%;}
li{list-style-type:none;}

.r{box-shadow:inset 0px 0px 10px red;} .g{box-shadow:inset 0px 0px 10px green;} .b{box-shadow:inset 0px 0px 10px blue;}
.Dcell{display:table-cell!important; vertical-align:middle!important;}
.Dblock{display:block;}
.D-in-block{display:inline-block;}
.text_red{color:#fe4a4c!important;}
.text_white{color:#fff!important;}
.font16{font-size:16px!important;} .font14{font-size:14px!important;}
.redcol{color:#f26722!important;}
.yellowcol{color:#f3b972!important;}
.color-blue{color:#5391df!important;}
.whitecol{color:#fff!important;}
.bottom-0{bottom:0px!important}

.btn-orrange{background:#ff9326; color:#fff;}
.btn-white{background:#fff; color:#1d2b39;}
.center-box{margin:0 auto!important;}
.radius100{border-radius:100%!important;}
.p0{padding:0px!important;} .p5{padding:5px!important;} .p10{padding:10px!important;} .p15{padding:15px!important;}
.p20{padding:20px!important;} .p25{padding:25px!important;} .p30{padding:30px!important;} .p35{padding:35px!important;}

.mr0{margin:0px!important;} .mr5{margin:5px!important;} .mr10{margin:10px!important;} .mr15{margin:15px!important;}

.pLR5{padding-left:5px!important; padding-right:5px!important;}
.pLR6{padding-left:6px!important; padding-right:6px!important;}
.pLR10{padding-left:10px!important; padding-right:10px!important;}
.pLR15{padding-left:15px!important; padding-right:15px!important;}

.pL0{padding-left:0px!important;} .pL5{padding-left:5px!important;} .pL10{padding-left:10px!important;}
.pL15{padding-left:15px!important;} .pL20{padding-left:20px!important;} .pL25{padding-left:25px!important;}

.pR0{padding-right:0px!important;} .pR5{padding-right:5px!important;} .pR10{padding-right:10px!important;}
.pR15{padding-right:15px!important;} .pR20{padding-right:20px!important;} .pR25{padding-right:25px!important;}

.pr0{padding-right:0px!important;} .pr1{padding-right:1px!important;} .pr2{padding-right:0px!important;}
.pr3{padding-right:3px!important;} .pr4{padding-right:4px!important;} .pr5{padding-right:5px!important;}

.pt0{padding-top:0px!important;} .pt1{padding-top:1px!important;} .pt2{padding-top:0px!important;}
.pt3{padding-top:3px!important;} .pt4{padding-top:4px!important;}
.pt5{padding-top:5px!important;} .pt10{padding-top:10px!important;} .pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;} .pt25{padding-top:25px!important;} .pt30{padding-top:30px!important;} .pt35{padding-top:35px!important;}

.pb0{padding-bottom:0px!important;} .pb5{padding-bottom:5px!important;} .pb10{padding-bottom:10px!important;} .pb15{padding-bottom:15px!important;}
.pb20{padding-bottom:20px!important;} .pb25{padding-bottom:25px!important;} .pb30{padding-bottom:30px!important;} .pb35{padding-bottom:35px!important;}

.mt0{margin-top:0px!important;} .mt1{margin-top:1px!important;} .mt2{margin-top:2px!important;} .mt3{margin-top:3px!important;}
.mt4{margin-top:4px!important;} .mt5{margin-top:5px!important;} .mt6{margin-top:6px!important;} .mt7{margin-top:7px!important;} 
.mt8{margin-top:8px!important;} .mt9{margin-top:9px!important;} .mt10{margin-top:10px!important;} .mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;} .mt25{margin-top:25px!important;} .mt30{margin-top:30px!important;} .mt35{margin-top:35px!important;}
.mt40{margin-top:40px!important;} .mt45{margin-top:45px!important;} .mt50{margin-top:50px!important;}

.mb0{margin-bottom:0px!important;} .mb1{margin-bottom:1px!important;} .mb2{margin-bottom:2px!important;} .mb3{margin-bottom:3px!important;}
.mb3{margin-bottom:4px!important;} .mb4{margin-bottom:5px!important;} .mb5{margin-bottom:5px!important;} .mb6{margin-bottom:6px!important;} 
.mb7{margin-bottom:7px!important;} .mb8{margin-bottom:8px!important;} .mb9{margin-bottom:9px!important;} .mb10{margin-bottom:10px!important;} 
.mb15{margin-bottom:15px!important;} .mb20{margin-bottom:20px!important;} .mb25{margin-bottom:25px!important;} .mb30{margin-bottom:30px!important;} 
.mb35{margin-bottom:35px!important;} .mb40{margin-bottom:40px!important;} .mb45{margin-bottom:45px!important;} .mb50{margin-bottom:50px!important;}

.mr0{margin-right:0px!important;} .mr1{margin-right:1px!important;} .mr2{margin-right:2px!important;} .mr3{margin-right:3px!important;}
.mr4{margin-right:4px!important;} .mr5{margin-right:5px!important;} .mr6{margin-right:6px!important;} .mr7{margin-right:7px!important;}
.mr8{margin-right:8px!important;} .mr9{margin-right:6px!important;} .mr10{margin-right:10px!important;}

.mL0{margin-left:0px!important;} .mL1{margin-left:1px!important;} .mL2{margin-left:2px!important;} .mL3{margin-left:3px!important;}
.mL4{margin-left:4px!important;} .mL5{margin-left:5px!important;}

.mTB0{margin-top:0px!important; margin-bottom:0px!important;} .mTB5{margin-top:5px!important; margin-bottom:5px!important;}
.mTB0{margin-top:0px!important; margin-bottom:0px!important;} .mTB5{margin-top:5px!important; margin-bottom:5px!important;}

.mt-min0{margin-top:-0px!important;} .mt-min1{margin-top:-1px!important;} .mt-min2{margin-top:-2px!important;} .mt-min3{margin-top:-3px!important;}
.mt-min4{margin-top:-4px!important;} .mt-min5{margin-top:-5px!important;} .mt-min6{margin-top:-6px!important;} .mt-min7{margin-top:-7px!important;} 
.mt-min8{margin-top:-8px!important;} .mt-min9{margin-top:-9px!important;} .mt-min10{margin-top:-10px!important;}

.top-0{top:0px!important} .top-1{top:1px!important} .top-2{top:2px!important} .top-3{top:3px!important} .top-4{top:4px!important}
.top-5{top:5px!important} .top-10{top:10px!important} .top-15{top:15px!important} .top-20{top:20px!important} .top-25{top:25px!important}
.top-30{top:30px!important} .top-35{top:35px!important} .top-40{top:40px!important} .top-45{top:45px!important} .top-50{top:50px!important}
.top-55{top:55px!important} .top-60{top:60px!important} .top-65{top:65px!important} .top-70{top:70px!important} .top-75{top:75px!important}
.top-80{top:80px!important} .top-85{top:85px!important} .top-90{top:90px!important} .top-95{top:95px!important} .top-100{top:100px!important}

.topmin-0{top:-0px!important} .topmin-1{top:-1px!important} .topmin-2{top:-2px!important} .topmin-3{top:-3px!important} .topmin-4{top:-4px!important}
.topmin-5{top:-5px!important} .topmin-10{top:-10px!important}

.left-0{left:0px!important} .left-1{left:1px!important} .left-2{left:2px!important} .left-3{left:3px!important} .left-4{left:4px!important}
.left-5{left:5px!important} .left-10{left:10px!important} .left-15{left:15px!important} .left-20{left:20px!important} .left-25{left:25px!important}
.left-30{left:30px!important} .left-35{left:35px!important} .left-40{left:40px!important} .left-45{left:45px!important} .left-50{left:50px!important}
.left-55{left:55px!important} .left-60{left:60px!important} .left-65{left:65px!important} .left-70{left:70px!important} .left-75{left:75px!important}
.left-80{left:80px!important} .left-85{left:85px!important} .left-90{left:90px!important} .left-95{left:95px!important} .left-100{left:100px!important}

/*Global font size css*/
.f-size-14{font-size:14px!important;} .f-size-15{font-size:15px!important;} .f-size-16{font-size:16px!important;} .f-size-17{font-size:17px!important;}
.f-size-18{font-size:18px!important;} .f-size-19{font-size:19px!important;} .f-size-20{font-size:20px!important;} .f-size-21{font-size:21px!important;}
.f-size-22{font-size:22px!important;} .f-size-23{font-size:23px!important;} .f-size-24{font-size:24px!important;} .f-size-25{font-size:25px!important;}

/*Global width css*/

.max-WT-320{width:100%; max-width:320px!important;} .max-WT-360{width:100%; max-width:360px!important;} .max-WT-480{width:100%; max-width:480px!important;}
.max-WT-600{width:100%; max-width:600px!important;} .max-WT-767{width:100%; max-width:767px!important;} .max-WT-991{width:100%; max-width:991px!important;}
.max-WT-20{width:100%; max-width:20px!important;} .max-WT-30{width:100%; max-width:30px!important;} .max-WT-40{width:100%; max-width:40px!important;}
.max-WT-50{width:100%; max-width:50px!important;} .max-WT-60{width:100%; max-width:60px!important;} .max-WT-70{width:100%; max-width:70px!important;}
.max-WT-80{width:100%; max-width:80px!important;} .max-WT-90{width:100%; max-width:90px!important;}
.max-WT-100{width:100%; max-width:100px!important;} .max-WT-110{width:100%; max-width:110px!important;} .max-WT-120{width:100%; max-width:120px!important;} 
.max-WT-130{width:100%; max-width:130px!important;} .max-WT-140{width:100%; max-width:140px!important;} .max-WT-150{width:100%; max-width:150px!important;} 
.max-WT-160{width:100%; max-width:160px!important;} .max-WT-170{width:100%; max-width:170px!important;} .max-WT-180{width:100%; max-width:180px!important;}
.max-WT-190{width:100%; max-width:190px!important;} .max-WT-200{width:100%; max-width:200px!important;} .max-WT-230{width:100%; max-width:230px!important;}
.max-WT-250{width:100%; max-width:250px!important;} .max-WT-300{width:100%; max-width:300px!important;} .max-WT-350{width:100%; max-width:350px!important;}
.max-WT-400{width:100%; max-width:400px!important;} .max-WT-450{width:100%; max-width:450px!important;} .max-WT-500{width:100%; max-width:500px!important;}
.max-WT-550{width:100%; max-width:550px!important;} .max-WT-6050{width:100%; max-width:600px!important;} .max-WT-650{width:100%; max-width:650px!important;}
.max-WT-800{width:100%; max-width:800px!important;}
.max-WT-900{width:100%; max-width:900px!important;}
.max-WT-1000{width:100%; max-width:1000px!important;}

/*Start Checkbox design*/
.checkbox-design {position:relative; padding-left:22px; cursor:pointer; font-weight:300!important; color:#222!important;}
.checkbox-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checkbox-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:3px; width:16px; height:16px; border:1px solid #e1e1e1; background:#fff; border-radius:2px;}
.checkbox-design input[type="checkbox"]:checked ~ span{border:1px solid #fff; background:#27a57f; border-radius:2px;}
.checkbox-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:4px; top:0px; width:6px; height:10px; border-right:2px solid #fff; border-bottom:2px solid #fff; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checkbox-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}

.checknew-design {position:relative; padding-left:15px; padding-right:2px; cursor:pointer; font-weight:500; font-size:10px; color:#d8d8d8!important;}
.checknew-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checknew-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:0px; width:12px; height:11px; border:1px solid #2ebe93; background:#018a61; border-radius:2px;}
.checknew-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:3px; top:0px; width:4px; height:7px; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checknew-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}
/*End Checkbox design*/

.redio-design {position:relative; padding-left:20px; padding-right:2px; cursor:pointer; font-weight:600; font-size:12px; color:#d8d8d8!important;}
.redio-design input[type="radio"]{opacity:0; position:absolute; left:0; top:0;}
.redio-design input[type="radio"] ~ span{position:absolute; left:0px; top:1px; width:14px; height:14px; border-radius:100%; border:1px solid #2ebe93;}
.redio-design input[type="radio"] ~ span:before{opacity:0; content:''; position:absolute; left:1px; top:1px; width:10px; height:10px; background:#2ebe93; border-radius:100%; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0); -webkit-transform:scale(0); -ms-transform:scale(0);}
.redio-design input[type="radio"]:checked ~ span:before {opacity:1; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1);}

.container-common{width:100%; max-width:1280px; margin:0 auto; padding-left:15px; padding-right:15px;}

header { position: fixed; background: transparent; top: 0px; left: 0px; right: 0px; width: 100%; min-height: 50px; z-index: 100; padding: 7px 0; }
header.header-bg, header.header-inner{background:#e2e2e5; /*box-shadow:0px 0px 5px rgba(0,0,0,0.5); */}
body.logged header{background:#3c00e8!important;}
/* body.modal-open header {width: calc(100% - 17px);} */
body.exchange-body{background:#27a57f;}
body.exchange-body.white{background:#fff;}
header.loged{padding-right:380px;}
.header-inner{position:relative;}
.logged .header-inner {max-width: 1140px;margin: 0 auto;}
.header-inner .logo{position:absolute;top:50%;left:10px;transform: translateY(-50%); margin-left: 0;z-index:99;}
.header-inner .row .col{ display: flex; align-items: center;	 }
.logo { width: 100%; max-width: 48px; height: auto; margin-top: 0px; margin-left: 20px; position: absolute; left: 0px; top: 0px; transition: 400ms; transform: translateY(0%); -webkit-transform: translateY(0%); -ms-transform: translateY(0%); padding:2px 0 0; }
/*.logo .logo-night{display:none;}*/
.logo.resize{max-width:80px;}
.top-right-menu{margin-left:auto;}
.logo.logo-hide{max-width:90px; margin-top:10px;}
.logo a{display:block;}
.logo img{width:100%; height:auto;transition:ease all .6s;}
.logo img.fill{display:none;}
header.header-bg .logo img.fill{display:block;}
header.header-bg .logo img.trans{display:none;}
.top-left-menu {}
.top-left-menu  .btn +.btn{margin-left:10px;}
.top-left-menu{width:auto; position:relative;padding-left:45px;}
.menu ul{margin:0; padding:0; list-style:none;}
.menu ul li{float:left; position:relative;}
/* .menu ul li:last-child{text-transform:uppercase;} */
.menu ul li a{display:inline-block; padding:10px 20px; background:none; color:#fff; text-decoration:none; font-size:16px; font-weight:300; transition:300ms;
font-family: arial;}
.menu ul li.notimenu a i{font-size:24px;}
.menu ul li a:hover, .menu ul li a.active{background:none;color:#ffc926;}
.btn-header{border:none; font-size:14px; color:#fff; padding:6px 25px; font-weight:300; border-radius:4px;}
.btn-header:hover, .btn-header:focus{text-decoration:none; color:#fff; background:#5391df;}
.btn-lang{color:#fff; text-decoration:none;}
.btn-lang:hover, .btn-lang:focus{color:#ff9326;}

header.header-bg .menu ul li a, header.header-inner .menu ul li a{color: #0e0e0e;}

header.header-bg .btn.btn-blue, header.inner-page-header .btn.btn-blue,
header.header-bg .btn-download, header.inner-page-header .btn-download{color: #d3a500;border: 1px solid #d3a500;}

header.header-bg .btn.btn-blue:hover, header.inner-page-header .btn.btn-blue:hover,
header.header-bg .btn-download:hover, header.inner-page-header .btn-download:hover{color: #fff;border: 1px solid #d3a500;}

ul.drpdown{display:none; margin:0; padding:0; list-style:none; position:absolute; left:auto; right:0; top:100%; width:220px;}
ul.drpdown li{width:100%; display:block;}
ul.drpdown li a{width:100%; background:#481125; padding:10px 10px; font-size:14px; border-bottom:1px solid #fff;}
ul.drpdown li:last-child a{border-bottom:1px solid transparent;}
.menu ul li:hover a ~ ul.drpdown{display:block;}
.header_bg .menu ul li a{padding:25px 20px;}
.btn-mobmenu{display:none; position:absolute; top:0px; left:65px; width:20px; height:40px; border-radius:0px; background:transparent; color:#fff!important; font-size:20px; z-index:101; line-height:30px; padding:6px 0px;}

.topBanner{display:block;position:relative;}
.home-bannertext-box{position:absolute;top:50%;left:50%;transform:translate(-50% , -50%);    max-width: 900px;width: 100%;}
.topBanner-content{width:100%; /*min-height:calc(100vh - 250px);*/ text-align:center;}
.topBanner-content h1{margin:0 0 20px; color:#fff; font-weight:400; font-size:45px;font-family: 'Avenir Next';}
.topBanner-content p{margin:10px 0 20px;color:#fff; font-weight:500; font-size:22px;}

.btn-download {color:#fff;position:relative;text-align: center;border:1px solid #fff;border-radius:4px;font-weight:500;overflow:hidden;border-radius:0px}
.btn-download:hover{color:#fff;}
.btn.btn-large{padding:10px 45px;font-size:22px;}
.btn.btn-small{padding:6px 12px;font-size:16px;}
.btn-download:before{content:"";width:0;height:100%;position:absolute;left:0;top:0;transition:0.5s;}
.btn-download:hover:before,.btn-download:focus:before,.blue-overlay:focus:before,.blue-overlay:hover:before{width:100%;transition:0.5s;}

.btn.blue-overlay:before{background:#d3a500;color:#fff}
.btn-download span{position:relative;z-index:9;display:inline-block;}
.btn.btn-blue{color: #fff; background:transparent; font-weight: 500; border-radius: 0px; border: 1px solid #fff;position:relative;}
.btn.btn-blue:before{content:"";width:0;height:100%;position:absolute;left:0;top:0;z-index: -1;transition:0.5s;background:#d3a500;color:#fff}
.btn.btn-blue:hover:before,.btn.btn-blue:focus:before{width:100%;transition:0.5s;}

.banner-action-btn .btn +.btn{margin-left:25px;}

.search-box-top .input-group-prepend{width: 100%;max-width:200px;}
.search-box-top .btn-dropdown-s {width: 100%;max-width: 100%;background:#fff;color:#000;box-shadow: none!important;font-size:17px;text-align:left;}
.search-box-top .btn-dropdown-s:hover,.search-box-top .btn-dropdown-s:focus,.search-box-top .btn-dropdown-s:active{color:#000;background:#fff;}
.search-box-top .btn-dropdown-s:after{right: 20px;position: absolute;top: 24px;border-top: 0.5em solid;border-right: .6em solid transparent;border-bottom: 0; border-left: .6em solid transparent;}
.search-box-top  .input-group-append span{background:#1d3ae4;border:0px;width: 92px;text-align: center;padding-left: 29px;cursor: pointer;}
.search-box-top .form-control{height:55px;box-shadow: none!important;}
.home-bannertext-box{color:#fff;}
.home-bannertext-box h4{font-size:30px;margin:0 0 20px}
.carousel-indicators.custum-indicater li{width:12px;height:12px;border-radius: 50%;background:#fff;}
.carousel-indicators.custum-indicater li.active{/* width:15px;height:15px; */background:#d3a500;}
.bannerbutton-box .btn{min-width:195px;padding:10px 10px;border-radius:5px;border:1px solid #fff;font-size: 18px;letter-spacing: 1px;}

.main-container{padding-top:90px;position:relative;}
.inner-page-header{border-bottom:0px;background:#fff;}
.inner-page-header .menu ul li a{color:#0e0e0e}
.top-banner-sec-inner .banner-text h2{font-size:24px;color:#fff;}
.top-banner-sec-inner{padding-top:55px;min-height:140px;background-size:cover;background-repeat: no-repeat}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .8s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

/*About-us*/
.static-content-inner {padding:25px;}
.common-para{color:#333;}


/*Booking-screen*/
.row-content-box{padding:20px 25px;}
.pannel-header-s h3{margin:0px 0 30px;text-align:center;font-size:24px;border-bottom:1px solid #dcdde0;padding-bottom:10px;font-weight:600;    text-transform: uppercase;}
.booking-inner-text{color:#46c1c8;font-size:22px;margin:0;padding-bottom:10px;border-bottom:1px solid #dcdde0;}
.booking-pannel {border-bottom:1px solid #dcdde0;padding:10px 0;}
.booking-pannel:last-child{border-bottom:0px;}
.booking-pannel .date-block h3{font-size:18px;margin:0}
.booking-pannel .date-block h4{color:#777;font-size:16px;margin:0px;}
.booking-pannel .booked-person h3{    font-size: 18px; max-width: 247px;margin: 0 auto;}
.user-image  img{width:30px;height:30px;}
.mtb20{margin:20px 0!important;}

/*Notification*/
.notification-list-block li{border-bottom: 1px solid #dcdde0;padding:10px 10px 0 0}
.notification-list-block li:last-child{border-bottom:0px;}
.notification-list-block .notification-list-inner{position:relative;padding-left:110px;min-height:73px;}
.notification-list-block  ul{margin:0;}
.notification-list-block li .img-box {position:absolute;left:0px;top:0;max-width:85px;height:auto;}
.notification-list-block li .img-box img{width:100%;height:100%;border-radius: 50%;}
.cell-box{display:table}
.cell-table-box {display:table-cell;height:73px;vertical-align:middle;}
.notification-list-block .text-box  h5{font-size:16px;}
.notification-list-block  .days-text{margin:0px;font-size:15px;text-align:right;color:#b6b6b6;}

/*Payment*/
.payment-block .notification-list-inner{float:left;min-height: 90px;max-width:350px}
.payment-block li .doller-txt{float:right;}
.payment-block li .total-text{float:left;}
.payment-block li  .total-ammount{float:right;}
.total-text-block h3{margin:0px;font-size:22px;font-weight:600;}
.payment-block .total-ammount-list{    border-bottom: 1px solid #dcdde0!important;padding:20px 0px}
.btn-blue.bor-radius{border-radius:5px;font-size:18px;font-weight:600;}
.pannel-header-s.no-border h3{border-bottom:0px;}
.search-box .form-control{height:44px;border-radius:5px;border-right:0px}
.search-box .form-control:focus{outline:none;border-color:#ced4da}
.search-box  .input-group-text{background:transparent;border-left:0px;font-size:20px;cursor:pointer;color:#bbbbbb;}
.community-block .text-box h5 {font-size:20px;margin:0;}
.community-block .text-box .text-blue{color:#46c1c8;font-size:16px;margin:0px;}
.community-block .eye-icon {color:#777;}
.community-block .eye-icon i{font-size:20px}
.community-block .eye-icon a{display:block;font-size:15px;color:#777;text-decoration:underline;font-style:italic;}
.common-content-body.pd20{padding:20px 0;}
.pick-surb{padding:0 50px;}
.pick-surb-text{color:#46c1c8;margin:0 0 15px; font-size:22px;}
.img-box img{width:100%;}
.img-box img{border-radius:5px;}
.surbs-block .img-block{position:relative;margin-bottom:20px;}
.surbs-block .img-block:hover .overlay-bg{transition:0.8s;left:100%;right:100% ;background:rgba(0,0,0,0.4);}
.overlay-bg{position:absolute;top:0;left:0;right:0 ;bottom:0;background:rgba(0,0,0,0.5);transition:0.8s;}
.surbs-block .text-placename{position:absolute;top:50%;left:50%;transform:translate(-50% , -50%);color:#fff;margin:0px;font-size:24px;font-weight:600;z-index:99;}


/****setting****/
.setting-inner{margin-top:40px}
.setting-inner li{border-bottom: 1px solid #dcdde0;padding-bottom:15px;margin:0 0 20px}
.setting-inner li:last-child{border-bottom:0px;padding-bottom:0px;margin:0 0 0px}
.setting-inner li .text-left h4,.setting-inner li a .text-left  h4{margin:0;font-size:20px;color:#333}
.setting-inner li .arrow-btn img{width:13px;height:20px}

/*tag-friend*/
.tag-friend{padding:20px 50px;}
.custum-image-block{margin:0 0 20px}
.custum-image-block .image-box{width:100%;max-width:100%;height:auto;margin:0 0 10px;}
.custum-image-block .image-box img{width:100%;height:100%;}
.custum-image-block .house-name {font-size:18px;font-weight:600;margin:0 0 5px}
.custum-image-block .house-price {font-size:16px;font-weight:600;margin:0;color:#777}

/*interier-Page*/
.interier-img-box{max-width:100%;width:100%;}
.interier-img-box img{width:100%;height:100%;}
.interier-inner-box{padding:30px;}
.heading-box-int{border-bottom:4px solid #e5e6e9;margin-bottom:10px ;padding-bottom:20px;margin-bottom:2px}
.heading-box-int .left-block h4{margin:0 0 5px;font-size:20px;font-weight:600;}
.heading-box-int .left-block h5{margin:0;font-size:18px;font-weight:300;} 
.heading-box-int .right-block .star-box i{color:#aaa;}
.heading-box-int .right-block .star-box i.rated{color:#de9700;}
.heading-box-int .right-block .review-text a{font-size:14px;text-decoration:underline;color:#333;}
.interier-inner-box .desc-box{border-top:1px solid #e5e6e9 ;padding:20px 0;border-bottom:1px solid #e5e6e9 ; }
.interier-inner-box  .desc-heading{margin:0 0 10px;color:#777;font-size:20px;}
.inter-bottom-sec{margin:20px 0 0 ;}
.int-button-box .btn{min-width:270px;padding: 10px;border-radius:5px;font-weight:600;font-size:22px}
.btn-facebook{background:#3c5a99;color:#fff;}
.client-review .client-name{margin:0 0 5px;font-size:20px;font-weight:600;}
.textarea-block .common-label{font-size:20px;font-weight:600;}
.textarea-block .review-textarea{height:140px;resize:none;}



/*abc-section*/
.class-page-top {position:relative;height:310px;}
.class-page-top .image-box-top{max-width:100%;width:100%;height:100%;}
.class-page-top .image-box-top img{width:100%;height:100%;    object-fit: cover;}
.middel-content-block{position:absolute;max-width:300px;width:100%;text-align:center;top:50%;left:50%;transform:translate(-50%, -50%);}
.middel-content-block i{color:#fff;font-size:20px;}
.middel-content-block .img-box{max-width:190px;height:190px;margin:0 auto;}
.middel-content-block .img-box img{width:100%;height:100%;}
.middel-content-block h3{color:#fff;font-size:24px;text-transform:uppercase;margin:10px 0;}
.class-page-inner{padding:50px;}
.btn-blue.radius{border-radius:5px;padding:8px 10px;font-size:18px;font-weight:600;}
.class-page-inner h3{font-size:24px;font-weight:600;margin:0 0 20px;}
.class-page-top2{text-align:center;}
.class-page-inner.ptb20{padding:20px 50px;}
.mtb30{margin:30px 0;}
.class-page-top2 .class-heading{margin:0;font-size:20px;}

/***Notice-board*******/
.client-write-block{padding:20px 10px;}
.client-write-inner{position:relative;padding:0px 40px 0 80px;}
.img-box-client{position:absolute;top:0px;left:0px;width:65px;height:65px;border-radius:50%;}
.img-box-client img{width:100%;height:100%;border-radius:50%;} 
.textarea-block .form-control{max-width:100%;height:55px;resize:none;}
.client-write-inner .custum-camera{position:absolute;right:0;top:7px;font-size:30px;color:#56c2cc; line-height: 38px;}
.client-follow{position:relative;padding:20px 20px 20px 130px;}
.client-follow .img-box-client2{position:absolute;top:10px;left:20px;width:80px;height:80px;border-radius:50%;}
.client-follow .img-box-client2 img{width:100%;height:100%;border-radius:50%;} 
.client-follow .client-name{font-size:24px;font-weight:bold;margin:0 0 5px;}
.client-follow .date-text{font-size:16px;margin:0 ;color:#979797;}
 .Follow-btn{padding:3px 10px;min-width:100px;border-radius:5px!important;}
.blue-text i,.blue-text {color:#56c2cc !important; text-decoration: none !important;}
.grey-text,.grey-text i{color:#979797 !important; text-decoration: none !important;}
.likes-block .inlines-block{display:inline-block;}
.likes-block .inlines-block:first-child{padding-right:30px;}
.likes-block .inlines-block i{font-size:20px;}
.likes-block .inlines-block  span{font-size:16px;font-weight:bold;}
.likes-block.nopad .inlines-block:first-child{padding-right:0px;}
.client-write-small .client-write-inner{padding: 0px 0px 0 66px;}
.client-write-small .img-box-client{width: 55px;height: 55px;}
.client-write-small .textarea-block .form-control{height: 46px;padding-right:100px;}
.smile-icons-block{position:absolute;right:10px; top: 9px;}
.smile-icons-block i{font-size:25px;}
.border-bottom{border-bottom:1px solid #bfbfbf;}
.cst_heading .sorting-img{position:absolute;right: 16px;top: 14px;}

.sorting-block li{display:inline-block;font-size:16px;padding-right:20px;color:#939bac;}
.sorting-block li:first-child{width:135px;padding-right:0px;color:#333;}
.sorting-block li:last-child{padding-right:0px;}
.sorting-block li.active{color:#56c2cc;}
.sorting-block ul{margin:0;}

.user-profile-imgbox{position:relative;max-width:100%;height:auto;}
.user-profile-imgbox img{width:100%;height:100%;}
.edit-icon-block{position:absolute;top:10px;text-align: center;right:10px;width:33px;height:33px;background:#fff;padding:5px 2px;border-radius:50%;color:#66ced3;}
.user-profile-imgbox .upload-input{position:absolute;top:10px;right:10px;width: 30px; height: 30px; z-index: 9; cursor: pointer; opacity: 0;}
.profile-detail h3{margin:0 0 5px;font-size:20px;}
.profile-detail h5{margin:0 0 3px;font-size:16px;color:#777777;font-size:600;}
.profile-heading-s{font-size:20px;font-weight:600;}
.property-inner-text{padding:10px 0px;color:#66ced3;}
.property-inner-text p{margin:0px;}

.profile-inner-block-slider{margin-top:10px;}
.profile-inner-block-slider li{width:calc(33.3% - 4px);display:inline-block;font-weight:600;position:relative;}
.profile-inner-block-slider li .slider-bg{background:#bfbfbf;height:5px;width:100%;}
.profile-inner-block-slider li span{position:absolute;width:100%;height:5px;background:#66ced3;top: 24px;}
.right-bar-main{position:fixed;top:90px;    z-index: 9;}
.right-sidebar_s{position:fixed;top:90px;width:300px;background:#fff;right:0px;min-height:100vh; transform: translateX(0%);-webkit-transform: translateX(0%);-ms-transform: translateX(0%);transition: 400ms;}
.right-sidebar_s .right-sidebar-profile{padding:25px 10px 10px 100px;}
.right-sidebar_s .image-box{width:80px;height:80px;position:absolute;left:10px;border-radius:50%;border:2px solid #66ced3;}
.right-sidebar_s .image-box img{width:100%;height:100%;border-radius:50%;}
.profile-desc-slider h3{font-size:20px;font-weight:600;margin:0 0 5px}
.profile-desc-slider h5{font-size:18px;margin:0 0 5px;}
.profile-desc-slider p a{font-size:14px;font-style:italic; color:#333;text-decoration:underline;}
.right-sidebar-profile{background:#ddd;border-bottom:1px solid #dcdde0;}
.side-bar-listblock ul{margin:0px}
.side-bar-listblock li{padding:10px;border-bottom:1px solid #dcdde0;}
.side-bar-listblock li a{position:relative;color:#333;}
.side-bar-listblock li a img{margin-right:5px;margin-top:-2px;}
.cross-icon{position:fixed;right:10px;right: 10px;z-index: 99;}
.right-sidebar-hide{transition: 400ms;transform: translateX(100%);-webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);box-shadow:0 0 10px #ddd;}

/********Toggle-button-start********/

.btn-toggle {margin: 0 4rem; padding: 0; position: relative; border: none; height: 1.5rem; width: 3rem; border-radius: 1.5rem; color: #6b7381; background: #bdc1c8; }
.btn-toggle:focus,.btn-toggle.focus,.btn-toggle:focus.active,.btn-toggle.focus.active {outline: none;}
.btn-toggle:before,
.btn-toggle:after {line-height: 1.5rem; width: 4rem; text-align: center; font-weight: 600; font-size: 0.75rem; text-transform: uppercase; letter-spacing: 2px; position: absolute; bottom: 0; transition: opacity .25s; }
.btn-toggle.active {transition: background-color 0.25s;}
.btn-toggle.active:before {opacity: .5;}
.btn-toggle.active:after {opacity: 1;}
.btn-toggle:before,
.btn-toggle:after {color: #6b7381;}
.btn-toggle.active {background-color: #56c2cc;}
.btn-toggle.btn-lg {
  margin: 0 0rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}

.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.08rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left .25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: .5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}

.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}

.fright{float:right;}
.fleft{float:left;}

/********Toggle-button-end********/





/***footer****/
footer{background:#46c1c8;padding:10px 0;}
.top-footer{border-bottom: 1px solid #b5e6e9;margin-bottom: 10px;}
.top-footer li {display:inline-block;}
.top-footer .footer-link li  a{color:#fff;padding:0px 5px;border-right:1px solid #fff;}
.top-footer li:last-child a{border-right:0px;}
.top-footer .social-link li  a{width:40px;height:40px;background:#fff;padding:2px;text-align:center;border-radius:50%;display:block;color:#46c1c8;font-size:24px;margin-right:8px;transition:0.5s;}
.top-footer .social-link li  a:hover{background:#1b1f3a;color:#fff;transition:0.5s;}
.bottom-fotter p{margin:0px;color:#fff;}




/**********************Amit Bhoj************************/

/***********signup**********/

.common-content-body{background: #fff;margin: 4em 0;    box-shadow: 0 0 5px #cccc;    border-radius: 4px;}
.form-main-heading h3{text-align: center;color: #333333;padding: 15px 0;font-weight: bold;font-size: 24px;margin: 0;}
.form-main-heading{border-bottom: 1px solid #d6d6d6;}
.form-body{padding: 30px 50px;}
.form-control.custom-control{border:1px solid #d6d6d6;height:40px;padding-left: 1rem;min-height: auto;position: static;font-size:14px;border-radius:0;}
p.form-para{color: #777777;text-align: center;margin-bottom:30px;font-size: 17px;}
.form-body .form-group {margin-bottom: 20px;}
p.radio-button{display: inline-block;margin-bottom: 0}
p.radio-button:last-child{padding-left: 20px;}
.radio-block{padding-top: 10px;}
.common-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 970px;
}
.btn.btn-blue.btn-grey{background: #999999;}
.btn-common.btn  { border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;}
    p.new-user{text-align: center;font-size: 20px;margin-bottom: 0;
    margin-top: 20px;}
    p.new-user a{color: #333333;border-bottom: 1px solid #000;font-weight: bold;}


.custom-checkbox label a{color: #333;text-decoration: underline;}

.form-control.custom-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9a9a9a;
}
.form-control.custom-control::-moz-placeholder { /* Firefox 19+ */
  color: #9a9a9a;
}
.form-control.custom-control:-ms-input-placeholder { /* IE 10+ */
  color: #9a9a9a;
}
.form-control.custom-control:-moz-placeholder { /* Firefox 18- */
  color: #9a9a9a;
}

/******custom-radio-button********/

.radio-button [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-button [type="radio"]:checked + label,
.radio-button [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    line-height: 26px;
    display: inline-block;
    color:#3a3c46;
}
.radio-button [type="radio"]:checked + label:before,
.radio-button [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #3c00e8;
    border-radius: 100%;
    background: #fff;
}
.radio-button [type="radio"]:checked + label:after,
.radio-button [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background:#3c00e8;
    position: absolute;
    top:5.4px;
    left:5.19px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-button [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-button [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radioBox .radio-button [type="radio"] + label:before{width: 17px;height: 17px;}
.radioBox .radio-button [type="radio"] + label{line-height:18px;padding-left:26px;font-size:13px;}
.radioBox .radio-button [type="radio"]:checked + label:after,
.radioBox .radio-button [type="radio"]:not(:checked) + label:after{width:9px;height:9px;top:4px;left:4px;border-radius:50%;}

.checkBox label{font-size:13px;}
.custom-checkbox.checkBox  [type="checkbox"] + label:before{width:17px!important;height:17px!important;}
.custom-checkbox.checkBox  [type="checkbox"] + label:after{font-size:11px!important;}
/**********custom-checkbox**************/

/* Base for label styling */
.custom-checkbox [type="checkbox"]:not(:checked),
.custom-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox [type="checkbox"]:not(:checked) + label,
.custom-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.custom-checkbox [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
      width: 22px;
    height: 20px;
    border: 1px solid #7f7f7f;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
      top: 5px;
    left: 5px;
    font-size: 16px;
  line-height: 0.8;
  color: #7f7f7f;
  transition: all .2s;

}
/* checked mark aspect changes */
.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.custom-checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.custom-checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}

/*************************************/

/***********edit-profile**********/

.profile-pic{text-align: center;margin-bottom: 30px;position: relative;display: inline-block;}
.profile-pic img.user-image{border-radius: 50%;background: #b9c2c9;}
.profile-pic span input {
    width: 32px;
    opacity: 0;
}
.profile-pic span {
    position: absolute;
    bottom: 0px;
    right: 12px;
    width: 32px;
    height: 30px;
    display: inline-block;

}
.pro-upload-block{text-align:center;}
.profile-pic span img{    margin-top: -52px;    cursor: pointer;}

/******************address***************/


select.form-control.custom-control:not([size]):not([multiple]){height:40px;}
select.drop-down {background: #fff url(../images/down-arrow.png)no-repeat calc(100% - 10px) center;}
.label-height{    line-height: 37px;}
.social-button a{display: block;padding: 6px 12px 6px 55px;color: #fff;border-radius: 4px;height: 45px;line-height: 34px;
font-size: 18px;margin-bottom: 20px;position: relative;}
.social-button a:hover{text-decoration: none;}

.social-button a.fb    {background-color: #46549a;
 /* background: #3f4b8b url(../images/facebook.png)no-repeat 18px center;*/}

.social-button a.twitter    {background-color: #62ace6;
/*  background:  #5ba0d0 url(../images/twitter.png)no-repeat 13px  center;*/}

.social-button a.google    {background-color: #d2522a;
 /* background: #c34420  url(../images/google.png)no-repeat 10px center;*/}
  
p.new-user a:hover{text-decoration: none;}


.social-button a span{position: absolute;
    left: 0;
    top: 0px;
    width: 46px;
    text-align: center;
    height: 100%;
    line-height: 42px;
        border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
  }
.social-button a.fb span{ background: #3f4b8b;}
.social-button a.twitter span{background:  #5ba0d0;}
.social-button a.google span{ background: #c34420;}
.or-text span{ position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -40%);
    font-style: italic;}

.or-text {position: relative;height: 100%;}
.remember-forgot p{display: inline-block;margin-bottom: 0}
.remember-forgot a{float: right;color: #333;text-decoration: underline;}
.input-icon-email{background: #fff url(../images/mail-icon.png)no-repeat calc(100% - 10px) center;}
.input-icon-pass{background: #fff url(../images/password-icon.png)no-repeat calc(100% - 12px) center;}

.modal-body.change-pass-body{padding: 2rem 5rem;}
.common-modal .modal-dialog{max-width: 600px;}
.common-modal .modal-header {padding: 15px;    border-bottom: 1px solid #ccc;}
.common-modal .modal-header .close{margin-left: 0;    font-size: 2rem;font-weight: normal;}
h4.modal-title{font-weight:bold;font-size:18px;width: 100%; text-align: center;}
.modal-para{text-align: center; color: #9a9a9a; }
p.new-user.resend{font-size: 14px;font-weight: normal;}
.master-modal p.modal-para{text-align: left;}
.common-modal.master-modal .modal-dialog {max-width: 900px;}
.master-modal  .modal-body.change-pass-body{padding: 2rem;}
p.form-para.dark-para{font-size: 18px;font-weight: bold;}
.address-verfiy-body p.form-para{margin-bottom: 12px;}
.notaddress a{font-size: 20px;color: #56c2cc;text-decoration: underline;font-weight: bold;}
.address-detail-block ul li{margin-bottom: 30px;}
.address-detail-block ul li span{    width: 28px;display: inline-block;text-align: center;}
.address-detail-block{margin: 0 auto;max-width: 512px;margin-top: 40px;width: 100%;}


/**********(29-03-2018)*************/

.bank-body-block .booking-inner-text{font-size: 60px;font-weight: bold;border-bottom: none;}
.bank-head{font-size: 22px;color: #777777;padding-bottom: 10px;border-bottom: 1px solid #e2e3e6;margin-bottom: 20px;}
.bank-body-block .row-content-box {padding: 20px 0px;}
.bank-inner-content{padding: 0 25px;}
.btn.btn-transparent {background: transparent;border: 1px solid #c3c4c7;padding: 10px 26px;margin-right: 6px;min-width: 220px;font-size: 17px;
    margin-bottom: 10px;}
.bank-body-block .pannel-header-s h3 {margin: 0px 0 15px;}
.schedule{font-size: 26px;font-weight: bold;color: #000;}
.choose-property p.radio-button{display: block;margin-bottom: 20px;}
.choose-property p.radio-button:last-child{padding-left: 0;}
span.filter{float: right;}
.blue-box{background-color:#3a3c46;border-top-left-radius: 8px;border-bottom-left-radius: 8px;padding: 30px;position: relative;left: -90px;}
.blue-box ul li{color:#e2e2e5;margin-bottom: 30px;font-size: 14px;    position: relative;
    padding-left: 40px}
.form-body textarea.form-control.custom-control{resize: none;min-height: 100px;height: auto;}
.contact-form h5{font-weight: 600;font-size: 18px;margin-bottom: 20px;}
.blue-box ul{padding: 50px 0;margin-bottom: 0;}
.blue-box ul li:last-child{margin-bottom: 0;}
.form-body .contact-form .form-group{margin-bottom: 15px;}
.contact-form{padding-top: 30px;}
.blue-box ul li img { position: absolute; left: 0; max-width: 20px; }
.form-body.contactus-body {padding:50px;}


/*********************************************************/



/*******pradeep-css******/

.globle_inside{padding:5em 0;}
.white_box_with_border{box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2); background:#fff;}
.cst_heading{font-size:24px; color:#333333;font-weight:bold; text-transform:uppercase; margin:0;}
.cst_heading.with-rht-icon{padding-right:35px; position:relative;}
.with-rht-icon .m_icon{position:absolute; right:0; top:50%; margin-top:-18px;}
.nav-pills.custom_tabs .nav-link.active, .nav-pills.custom_tabs .show>.nav-link{background-color:#56c2cc;}

.nav-pills.custom_tabs a{text-transform:uppercase; font-size:18px; font-weight:400; border-radius:0; background-color:#bebebe; color:#fff; padding:12px 5px;}
.custom_form .form-control{border-radius:2px;}
.custom_form select.form-control{background:url(../images/cred.png) no-repeat; background-position: calc(100% - 10px); padding-right:26px; font-size:14px;}


.row.cst_row{margin:0 -8px;}
.row.cst_row [class*="col-"]{padding:0 8px;}
.pt-0{padding-top:0!important;}
.house_details h4{font-size:20px; font-weight:600; color:#333333; margin-bottom:0;}


.cst_check { display: block; position: relative; padding-left: 30px; margin-bottom: 12px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color:#333;}

.cst_check input{ position: absolute; opacity: 0; cursor: pointer; }
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eee; border:1px solid #ccc; border-radius:3px;}
.cst_check:hover input ~ .checkmark { background-color: #ccc; } 
.cst_check input:checked ~ .checkmark { background-color: #56c2cc; }
.checkmark:after { content: ""; position: absolute; display: none; }
.cst_check input:checked ~ .checkmark:after { display: block; }
.cst_check .checkmark:after { left:7px; top:3px; width: 5px; height: 10px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }


.badge-custom { background-color: #bebebe; color: #fff; font-size: 16px; font-weight:300; letter-spacing: 0.5px; margin:2px 1px;} 

.badge-custom:hover{background-color:#56c2cc;}

.button_group_filter .btn{color:#fff; border-radius:0; font-weight:400; font-size:20px; text-transform:uppercase; width:calc(50% - 3px); margin:3px 0;}
.btn-apply{background-color:#45c1c7;  }
.btn-clear{background-color:#f50000;  }
.fav_pic{border:1px solid #d6d6d6; border-radius:4px; overflow:hidden;}
.fav_caption{padding-right:50px; position:relative;}
.like_heart{position:absolute; right:0; top:0; transition:0.8s;}
.like_heart:hover img{transition:0.8s; transform: scale(0.95);}

.fav_caption h5{font-size:18px; color:#333; font-weight:600;}
.fav_caption .price_tag{font-size:18px; color:#777; font-weight:600;}
.fav_list{margin-bottom:25px;}


/* ===============Sell Property========= */
.thumbnail-img,.map-img{margin-bottom:15px;}
.thumbnail-img img,.map-img img{width:100%;}
.thumbnail-slider-block{margin-bottom:30px;}
.thumblist {margin:0;padding:0;}
.thumblist li{float:left;width:100px;position:relative;}
.thumblist li.active:before{content:"";position:absolute;height:100%;width:100%;left:0;top:0;background:rgba(0,0,0,0.5);}
.thumblist li+li{margin-left:10px;}
.property-info h2{color:#333;font-size:24px;font-weight:600;margin:0 0 15px;}
.prop-price{margin-bottom:20px;color:#777;font-weight:600;font-size: 32px;}
.desc-head {
color: #333;
font-size: 20px;
margin: 0 0 15px;
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
}
.fav-list{margin:20px 0 0;}
.fav-list li{color:#777;font-size:16px;margin-bottom:10px;}
.fav-list li i{margin-right:10px;color:#777;}


/* ===============Sell Property========= */
.thumbnail-img,.map-img{margin-bottom:15px;}
.thumbnail-img img,.map-img img{width:100%;}
.thumbnail-slider-block{margin-bottom:30px;}
.thumblist {margin:0;padding:0;}
.thumblist li{float:left;width:100px;position:relative;}
.thumblist li.active:before{content:"";position:absolute;height:100%;width:100%;left:0;top:0;background:rgba(0,0,0,0.5);}
.thumblist li+li{margin-left:10px;}
.property-info h2{color:#333;font-size:24px;font-weight:600;margin:0 0 15px;}
.prop-price{margin-bottom:20px;color:#777;font-weight:600;font-size: 32px;}
.desc-head {
color: #333;
font-size: 20px;
margin: 0 0 15px;
padding-bottom: 10px;
border-bottom: 1px solid #ddd;
}
.fav-list{margin:20px 0 0;}
.fav-list li{color:#777;font-size:16px;margin-bottom:10px;}
.fav-list li i{margin-right:10px;color:#777;}

.assect-main{display:flex;min-height:180px;align-items:center;}
.common-bg-block{;background-repeat: no-repeat;background-size:cover;}
.pdt0{padding:0px;}
.assest-block {padding:30px 0;}
.connect-friend-sec{padding:40px 0 30px}
.assest-block h3{font-size:30px;font-family: 'Avenir Next';}
.common-heading h3{font-size:36px;font-family: 'Avenir Next';color:#1b1b1b;}
.connect-friend-sec h5{color:#1d3ae4;}
.common-heading p{font-size:16px;font-weight:normal;margin-bottom:5px}
.common-heading h4{font-size:24px;}
.connect-inner{padding-top:20px;}
.connect-inner p{font-size: 14px; padding-right: 0px; color: #1b1b1b;}
.connect-inner p+p{margin-top:30px;}
.common-heading.text-white h3{color:#fff;}
.live-prop-sec{padding:30px;    display: flex;align-items: center;min-height:700px}
.a-block{width:120px;height:120px;border-radius:50%;color:#fff;font-family: 'Avenir Next';line-height:40px;margin:0 auto 10px;}
.a-block.violet{background-color:#3c5c95}
.a-block.skyblue{background-color:#3188b2}
.a-block.lightskyblue{background-color:#90cbea}
.a-block h1{font-size:70px;margin:0px;line-height:120px}
.live-commoninner{padding:0 40px 10px;}
.btn.btn-blue.claim-btn{font-weight:600;padding:10px 10px;border-radius:25px;min-width:300px}
.rel-state-sec{padding:30px 0;}
.real-text-block-inner{position:relative;padding-left:25px;}
.real-text-block-inner img{width:20px;position:absolute;left:0px;top:1px;}
.real-text-block-inner h5{font-family:'Avenir Next';}
.real-text-block{margin:0 0 20px}
.real-text-block.second-block{padding-left:100px}
.real-right-sec .btn.btn-blue.claim-btn{padding: 10px 25px;overflow: hidden; min-width: 184px; border: 1px solid #d3a500; color: #d3a500;}
.real-right-sec .btn.btn-blue.claim-btn:hover{color:#fff;}
.availablenear-sec{padding:63px 0;}
.availabl-image-block .image-block-inner{position:relative;    overflow: hidden;transition:ease all .5s;}
.availabl-image-block .image-block-inner:hover{box-shadow: 0 16px 26px #949494;}
.availabl-image-block .image-block-inner h3{position:absolute;top:50%;left:50%;transform:translate(-50% , -50%);font-family: 'Avenir Next';color:#fff;    width: 100%;}
.availabl-image-block .image-block-inner{margin-bottom:30px;max-width:100%;height:auto;}
.availabl-image-block .image-block-inner img{width:100%;height:100%;transform: scale(1);transition:ease all .5s;}
.availabl-image-block .image-block-inner:hover img{transform: scale(1.1);}
  .neghbouirs-main{padding:40px 0;}
  .neighbous-common-block .text-block{text-align:left;}
.neighbous-common-block .text-block h5{font-family: 'Avenir Next';margin:0;}
.neighbous-common-block .text-block p{margin:0px;font-size:15px}
.neighbous-common-block{margin: 0 0 30px;}
.neighbous-common-block .image-block{width:100%;}
.neighbous-common-block .image-block img{width:100%;height:100%;}
.download-sec{padding-top:50px;}
.btn-downloadapp{font-weight: 500;position:relative;overflow:hidden; background-color: transparent; font-size: 20px; padding: 10px 15px; color: #d3a501; border-radius: 25px; min-width:350px; border: 1px solid #d3a501;}
.btn-downloadapp:hover{color:#fff;}
.btn-downloadapp:before{content:"";width:0;height:100%;position:absolute;left:0;top:0;z-index: -1;transition:0.5s;background:#d3a500;color:#fff}
.btn-downloadapp:hover:before,.btn-downloadapp:focus:before{width:100%;transition:0.5s;}
.joinasset-sec{padding:50px 0;min-height:400px;}
.common-heading.white-text h3,.common-heading.white-text h4{color:#fff;}
.joinasset-sec-block{max-width:600px;margin:0 auto}
.join-form input.form-control{height:52px;border-bottom-left-radius:25px;border-top-left-radius:25px;border-color:  #d3a501;color: #cfa423;}
.join-form input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#cfa423;
}
.join-form input.form-control::-moz-placeholder { /* Firefox 19+ */
  color:#cfa423;
}
.join-form input.form-control:-ms-input-placeholder { /* IE 10+ */
  color:#cfa423;
}
.join-form input.form-control:-moz-placeholder { /* Firefox 18- */
  color:#cfa423;
}


.join-form .btn.btn-black{background:#d3a500;color:#fff;min-width:60px;font-size:25px;border-bottom-right-radius:25px;border-top-right-radius:25px;border-color:  #d3a501}
.join-form{    padding: 0; max-width: 350px; margin: 20px auto;}
.joinasset-sec .common-heading h3{font-size:36px;margin:0 0 15px}
.joinasset-sec .common-heading h4{font-size:24px}
.topBanner .carousel-item {height:700px;}
.topBanner .carousel-item:before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background-image: linear-gradient(to right top, #000000, #0f0f0f, #191919, #212121, #2a2a2a);opacity:.3;}
.topBanner .carousel-item > img {object-fit: cover;height: 100%;}







/***footer****/
footer{background:#3a3c46;padding:10px 0;}
.top-footer{border-bottom:1px solid #1d3ae4;margin-bottom: 10px;}
.top-footer li {display:inline-block;}
.footer-link ul{max-width:100%;margin: 0 auto 10px;}
.footer-link ul li{margin:0 0 8px;}
.top-footer .footer-link li  a{color:#fff;padding:0px 5px;border-right:1px solid #fff;}
.top-footer li:last-child a{border-right:0px;}
.top-footer .social-link li  a{width:40px;height:40px;font-size:24px;margin-right:8px;}

.socialLinks  li  a{background:#fff;padding:2px;text-align:center;border-radius:50%;display:block;color:#3a3c46;transition:0.5s;}

.top-footer .social-link li  a:hover{background:#d3a500;color:#fff;transition:0.5s;}
.bottom-fotter p{margin:0px;color:#fff;}

.common-content-body .btn.btn-blue{color: #d3a500;
    border: 1px solid #d3a500;}


    /*otp-block*/
.otp-block{max-width:600px;margin:0 auto 10px;box-shadow:0 0 8px #eee;padding:20px 15px;border-radius:4px}
.autotabbed {max-width:300px;margin:0 auto;}
.autotabbed input {border: 1px solid #ccc; width: 15%; height: 45px; border-radius: 4px; padding: 5px; text-align: center; }
.max-WT-150{width:100%; max-width:150px!important;}
.file-Input{border:1px solid #d6d6d6;position:relative;height:44px;padding:10px;}
.file-Input label{font-size:14px;color:#868686}
.file-Input  input[type='file']{opacity:0;position:absolute;width:100%;height:100%;left:0;top: 0;}

.real-state-inner  .carousel-item {border-radius:50%;height:500px;max-width:500px;overflow:hidden;width:100%;}
.real-state-inner  .carousel-item  img{object-fit:cover;height:100%;height:100%;}



/* ===============31 July 2018================= */

.minHeight40{min-height:40px!important;}
.minHeight50{min-height:50px!important;}
.minHeight70{min-height:70px!important;}
.minHeight80{min-height:80px!important;}
.minHeight100{min-height:100px!important;}
.minHeight120{min-height:120px!important;}
.minHeight130{min-height:130px!important;}
.minHeight140{min-height:140px!important;}
.minHeight150{min-height:150px!important;}
.minHeight200{min-height:200px!important;}
.minHeight250{min-height:250px!important;}
.minHeight300{min-height:300px!important;}
.minHeight350{min-height:350px!important;}
.minHeight400{min-height:400px!important;}

.tableWidth1000{min-width:1000px;}
.tableWidth900{min-width:900px;}
.tableWidth800{min-width:800px;}
.tableWidth600{min-width:600px;}
.tableWidth500{min-width:500px;}
.tableWidth400{min-width:400px;}
.tableWidth300{min-width:300px;}

.tableAlignMiddle td,.tableAlignMiddle th{vertical-align:middle!important;}

.width60{width:60px!important;}
.width80{width:80px!important;}
.width90{width:90px!important;}
.width100{width:100px!important;}
.width120{width:120px!important;}
.width130{width:130px!important;}
.width140{width:140px!important;}
.width150{width:150px!important;}

.weightBold{font-weight:bold!important;}
.weight600{font-weight:600!important;}
.weight500{font-weight:500!important;}
.weight400{font-weight:400!important;}

.lineHeight1{line-height:1!important;}
.lineHeight1-2{line-height:1.2!important;}
.lineHeight1-3{line-height:1.3!important;}
.lineHeight1-4{line-height:1.4!important;}
.lineHeight28{line-height:28px!important;}

.radius0{border-radius:0!important;}
.borderLeft0{border-left:none!important;}
.borderRight0{border-right:none!important;}
.font11{font-size:11px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font17{font-size:17px!important;}
.gColor{color:#3e7f00!important;}
.rColor{color:#fc4c4c!important;}
.head4,.head3{margin:0 0 15px;font-size:18px;font-weight:600;line-height:1;font-family:'Open Sans', sans-serif;;}

input.form-control.datepicker {
background-image: url(../images/cal-icon.png);
background-position: calc(100% - 10px) 50%;
background-repeat: no-repeat;
background-size:20px;
padding-right:40px;
}

.logoutIcon { display: inline-block; max-width: 30px; margin-bottom: 15px; }
.logOutMsg {font-weight: 600; font-size: 13px; margin-bottom: 30px; }
.modalActionBtn .btn+.btn {margin-left: 10px;}
.shadowGreenBtn { background:#1d39e3; color: #fff!important; border: 2px solid #5d6bbe; }
.shadowRedBtn { background: #fc4c4c; color: #fff!important; border: 2px solid #fd898c; }
.btnTransprent{background:transparent;border:none;}
.threeBtnGroup .btn{max-width:calc(33.33% - 7px);}


/* ===================Accordian============= */
.globalAccordian{padding:15px;}
.globalAccordian .card{border:1px solid #e2e2e5;}
.globalAccordian .card  + .card{margin-top:10px;}
.qno {font-weight:600;color:#3a3c46; position: absolute; left: 10px; top: 11px; font-size: 14px; }
.globalAccordian .card-header{position:relative;border:none;box-shadow:none;padding:0;background:transparent;}
.globalAccordian .card-header .btn-link{width:100%;white-space:normal;color:#3a3c46;font-size:14px;padding:10px 30px 10px 40px;border-radius:0;
text-align:left;text-decoration:none!important;font-family:arial;border:none;position:relative;}
.globalAccordian .card-header .btn-link:after{content:"\f078";font-family: Font Awesome\ 5 Free;font-weight:900;position:absolute;right:10px;top:10px;}
.globalAccordian .card-header .btn-link[aria-expanded="true"]{border-bottom:1px solid #e2e2e5;/* background:#cfcfcf;color:#464646; */}
.globalAccordian .card-header .btn-link[aria-expanded="true"]:after{content:"\f077";}
.globalAccordian .card-header .btn-link[aria-expanded="true"] + .qno{color:#464646;}
.ans { color: #70a45b; font-size:18px; font-weight: 600; margin: 0 0 10px;font-family:arial;font-size:14px;}
.globalAccordian .card-body{font-family:arial;font-size:14px;}
.globalAccordian .card-body p{}


/* ============Global Css End============== */
body.logged{padding-top:50px;}
body.logged .globle_inside{padding:15px 0 0;}
body.notLogged{background:#fff;}
body.notLogged .main-container{padding-top:58px;}
.bgGray{background-color:#e2e2e5!important;}

.logged .main-container{padding-top:0;}
.user_top_box {display:inline-block;vertical-align:middle;}
.notifyIcon {
display: inline-block;
vertical-align: middle;
background:/* #1a2946 */#2a64d3;
color: #fff;
width: 27px;
height: 27px;
border-radius: 100%;
text-align: center;
line-height: 27px;
font-size: 13px;
margin-right: 7px;
}
.notifyIcon i{color:#fff!important;}
.user_top_box img{width:35px;height:35px;border-radius:100%;}
.user_top_box .dropdown-menu {
padding: 0;
background-color: #fff;
right: 21px;
left: auto;
top: calc(100% + 10px);
}
.user_top_box  .dropdown-menu:after {
content: "";
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;
position: absolute;
right: 2px;
top: -10px;
}
.user_top_box .dropdown-menu .dropdown-item {
color:#0e0e0e;
font-size:13px;
font-family: arial;
display:block;
font-weight:500;
text-decoration:none!important;
padding:6px 10px;
}
.user_top_box .dropdown-menu .dropdown-item + .dropdown-item {border-top:1px solid #e2e2e5;}
.user_top_box  .dropdown-menu .dropdown-item.active,
.user_top_box  .dropdown-menu .dropdown-item:hover,
.user_top_box  .dropdown-menu .dropdown-item:focus { color: #fff; background-color:#1d39e3; }

.topSearchBox{width:500px;position:relative;padding-right:50px;display: inline-block;}
.topSearchBox .form-control{border:none;font-size:13px;border-radius:0;}
.topSearchBox .form-control:focus + .btnTopSearch{background-color:#d3a500;color: #fff;transition:0.5s;}
.btnTopSearch{position:absolute;right:0;top:0;width:50px;height:100%;background-color:#f6f7f9;border:none;padding:0 6x;color:#0e0e0e;font-size:13px;border-radius:0;transition:0.5s;}

/* ==============After Login Main Container content Style========== */
.outerBlockBox{display:flex;position:relative;padding-left:250px;}

.leftMenuBox {width:250px;height:auto;position:fixed;left:0;top:65px;padding:5px 0;}
.middleFeedBox{padding:0 10px;width:calc(100% - 280px);}
.rightContentBox {width:280px;position:fixed;top:65px;max-height:calc(100% - 65px);overflow-y:auto;overflow-x:hidden;}





/* =============LeftMenu box========= */
.sidebar-menu{/*  overflow-y: auto; height:calc(100vh - 90px); */ margin:0;padding:0px;}
.toggle-wrapper aside{left:-100%;}

.menu-box .card-header {border:none;border-radius:0;position:relative;padding:10px;background:transparent;}
.menu-box .card-header,
.inner-submenu li a{}
.menu-box  i{color:#fff;}
.menu-box.active  .side_menu,.inner-submenu li.active a{font-weight:600;}
.sidebar-menu .card-header .btn-link { position: relative; padding: 0; width: 25px; height: 20px; float: right;}
.sidebar-menu .card-header .btn-link:before,
.accordDropdown .dropdown-toggle:before{font-family:'Font Awesome 5 Free';position:absolute;font-weight:600;color:#3c00e8;right:0;top:0;font-size:13px;}
.sidebar-menu .card-header .btn-link[aria-expanded="false"]:before,
.accordDropdown .dropdown-toggle[aria-expanded="false"]:before{content:"\f054";}
.sidebar-menu .card-header .btn-link[aria-expanded="true"]:before,
.accordDropdown .dropdown-toggle[aria-expanded="true"]:before{content:"\f078";}
.side_menu{display:block;padding:0;text-decoration:none!important;color:#3a3c46;font-size:13px;}
.side_menu:hover,.side_menu:focus{color:#333346;}
.toggle-menu .side_menu{float:left;width:calc(100% - 30px);}
.side_menu_icon {width:20px;margin-right:8px;/* padding:4px; */text-align:center;height: 19px;}
.side_menu span{display: inline-block;vertical-align:middle;}
span.side_menu_icon img {vertical-align: initial;max-height: 100%;}
.menu-box .card-body {padding: 0;}
ul.inner-submenu { padding: 0 0 0 47px; margin: 0; }
ul.inner-submenu li a{ display: block; padding: 0; text-decoration: none!important; color: #333346; font-size: 13px;	 }
ul.inner-submenu li + li{margin-top:5px;}

.accordDropdown .dropdown-menu{background:transparent;border:none;position:static!important;transform:none!important;padding:0;}
.accordDropdown .dropdown-menu a{background:transparent;}
.accordDropdown .dropdown-toggle:after{display:none;}
li.accordDropdown .dropdown-toggle:before{right:13px;}
.menu-box {overflow: hidden;}
/* =============MiddleFeedbox============= */
.feedCardBox{background:#fff;border:1px solid #dddfe2;border-radius:3px;padding:10px;margin-bottom:15px;}
.btn.btn-follow {background-color:#f6f7f9; border-color: #ced0d4; color: #4b4f56; padding: 4px 12px; font-size: 13px; font-weight: 600; min-width:70px; position:absolute;right:0;top:0;}
.btn.btn-follow:hover,
.btn.btn-follow:focus{ background-color: #d3a500; border-color: #d3a500; color: #fff	 }
.feedUserDetailBox{display:flex;align-items:center;margin-bottom:10px;position:relative;padding-right:80px;}
.feedUserImg{width:50px;}
.feedUserImg img{width:40px;height:40px;border-radius:100%;}
.feedUserDetailBox h5{font-size:14px;margin:0;font-weight:600;line-height: 11px;}
.feedUserDetailBox label{font-size:12px;margin:0;color:#979797;}
.feedSliderWithInfoBox{position:relative;}
/* .feedSlide{margin-bottom:10px;} */
.feedSlider figure{margin:0;}
.feedSlider figure img{width:100%;}

.feedAddressInfo{display:flex;align-items:center;margin:10px 0;}
.feedAddressInfo {width: 100%;}
.feedAddressRate p{font-size:13px;margin:0;color:#333;}
.feedAddressRate label{font-size:13px;margin:0;}
/* .feedAddressRate label strong{margin-right:3px;} */
.feedCompLogo{width:50px;margin-left:auto;}

.feedActionList{display:flex;align-items:center;margin:0;}
.feedActionList li{width:33.33%;text-align:center;}
.feedActionList li i{margin-right:7px;font-size:16px;}
.feedActionList li a { color: #616770!important; text-decoration: none!important; font-size: 13px; font-weight: 600; display: flex; align-items: center; justify-content: center;padding:5px 10px;}
.feedActionList li a:hover,.feedActionList li a:focus{background:#f6f6f6;}
ul.feedStrip {position:absolute;margin:0;right:0;top:0;display:flex;width:130px;z-index:9;background:rgba(246, 247, 249, 0.79);justify-content: center;}
ul.feedStrip li{padding:4px 6px;color:#616770;cursor:pointer;font-size:14px;}
ul.feedStrip li i{margin-right:5px;}

.feedCommentBox{align-items:center;display:none;margin-top:10px;}
.feedCommentBox.show{display:flex;}
.commentField{width:calc(100% - 50px);position:relative;}
.commentField .form-control {border-radius:25px; height: auto; min-height: 30px; padding: 4px 60px 4px 12px;font-size:13px;}
.commentSmily{position:absolute;right:10px;top:3px;}
.commentSmily a + a{margin-left:5px;}
.commentSmily i{color:#979797;}
.feedCommentBox  .feedUserImg ,.postCommentBox .feedUserImg{width:40px;}
.feedCommentBox .feedUserImg img,.postCommentBox .feedUserImg img{width:30px;height:30px;}
.feedCommentBox .commentField,.postCommentDetail {width: calc(100% - 40px);}

.btnEmoji,.btnCamera {background:transparent;border:none;height:auto;min-height:auto;line-height:normal;position:relative;width:20px;overflow:hidden;}
.btnCamera input{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;z-index:9;}

.postCommentBox{display:flex;margin-top:10px;}

.reLikeBtn,.reReplyBtn{background:transparent;border:none;height:auto;min-height:auto;line-height:normal;color:#3c00e8;margin-right:3px;}
.postCommentDetail p{margin:0 0 2px;padding:0;font-size:13px;padding:8px 10px;border-radius:18px;background:#e2e2e5;}
.postUserName{display:inline-block;color:#3c00e8!important;margin-right:3px;font-weight:600;}
.reComment{font-size:12px;padding-left:10px;}


/* ============Compose Feed=============== */
.topPostCommentBlock{position:relative;}
.expandCompose .topPostCommentBlock:before{content:"";height:100%;width:100%;left:0;top:0;background:rgba(0,0,0,0.4);display:block;position:fixed;z-index:99;}
.expandCompose header{z-index:9;}
.showOnExpand{display:none;margin-top:10px;}
.expandCompose .showOnExpand{display:block;}
.composeCommentBox {background:#fff;border:1px solid #dddfe2;border-radius:3px;margin-bottom:15px;position:relative;z-index:99;}
.composeHead{padding:5px 10px;border-bottom:1px solid #dddfe2;position:relative;}
.compCommon{color:#3a3c46;font-size:12px;font-weight:600;cursor:pointer;position:relative;}
.compCommon + .compCommon{margin-left:7px;padding-left:7px;border-left:1px solid #dddfe2;}
.compCommon.active:before {
content: "";
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
bottom: -9px;
width: 10px;
border-bottom: 7px solid #dddfe2;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
}
.compCommon.active:after{
content: "";
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
bottom: -9px;
width: 10px;
border-bottom:5px solid #fff;
border-left:5px solid transparent;
border-right:5px solid transparent;	
}

.compCommon img{max-width:15px;margin-right:3px;}
.fileCommon{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;z-index:9;}
.closeCompose {background:transparent;border:none;height:auto;min-height:auto;line-height:normal;position:absolute;right:10px;top:6px;cursor:pointer;display:none;}
.closeCompose img{max-width:12px;}
.expandCompose .closeCompose,.expandCompose .addIcons{display:inline-block;}
.composeBody{padding:10px;}
.composeArea{display:flex;border-bottom:1px solid #dddfe2;padding-bottom:10px;}
.composeAreaField{width:calc(100% - 50px);position:relative;}
.composeAreaField textarea.form-control{border:none;border-radius:0;font-size:12px;resize:none;overflow:hidden;padding-right:30px;padding-top:0;
padding-bottom:0;}
.expandCompose .composeAreaField{padding-bottom:17px;}
.composeAreaField textarea.form-control:-moz-placeholder{color:#c0c2c7;}
.composeAreaField textarea.form-control::-webkit-input-placeholder{color:#c0c2c7;}
.addIcons{position:absolute;bottom:0;right:0;display:none;}
.addIcons i{color:#c0c2c7;}
.composeActivity{display:flex;margin-top: 10px}
.activityBtn {background:#e2e2e5;padding:5px 10px;border-radius:18px;font-size:13px;font-weight:600;min-width:80px;text-align:center;position:relative;}
.activityBtn + .activityBtn{margin-left:7px;}
.activityBtn img{max-width:15px;margin-right:7px;}
/* ==========Right Content Box========== */
.advetiseBox{margin-bottom:10px;}
.advetiseBox img{width:100%;}
.footerLinks{margin:0 -5px;}
.footerLinks li {display:inline-block;padding:0 5px}
.footerLinks li a{color:#3a3c46!important;text-decoration:none!important;font-size:13px;font-weight:500;display:block;}
.copyRight{margin:0px;font-size:13px;font-weight:500;}
.socialLinks{margin:10px 0;}
.socialLinks  li  a{width:30px;height:30px;line-height:27px;}
.socialLinks  li  a:hover,.socialLinks  li  a:focus{color:#fff;}
.socialLinks  li  a.fbBg:hover,.socialLinks  li  a.fbBg:focus{background:#3a589e;}
.socialLinks  li  a.twitterBg:hover,.socialLinks  li  a.twitterBg:focus{background:#00aced;}
.socialLinks  li  a.instagramBg:hover,.socialLinks  li  a.instagramBg:focus{background:#fb3958;}
.socialLinks  li {display:inline-block;vertical-align:middle;}
.socialLinks  li  + li{margin-left:7px;}

.btn.btnWhite{color:#fff;border:1px solid #fff;}
.btn.btnYellow{color:#d3a500;border:1px solid #d3a500;}
.btn.btnGreen{color:#3e7f00;border:1px solid #3e7f00;}
.btn.btnGreen,.btn.btnYellow{padding-top:8px;padding-bottom:8px;}
.btn.btnWhite,.btn.btnYellow ,
.btn.btnGreen{text-decoration:none;font-size:13px;border-radius:0;min-height:30px;padding:4px 12px;background:transparent;font-weight:600;position:relative;}
.btn.btnWhite:before{background:#d3a500;}
.btn.btnYellow:before{background:#d3a500;}
.btn.btnGreen:before{background:#3e7f00;}
.btn.btnWhite:before,.btn.btnYellow:before,.btn.btnGreen:before{content:"";position:absolute;left:0;top:0;width:0;height:100%;transition:0.5s;}
.btn.btnWhite:hover:before,.btn.btnWhite:focus:before,
.btn.btnYellow:hover:before,.btn.btnYellow:focus:before,
.btn.btnGreen:hover:before,.btn.btnGreen:focus:before{width:100%;transition:0.5s;}
.btn.btnWhite span,.btn.btnYellow span,.btn.btnGreen span{position:relative;z-index:9;transition:0.5s;}

.btn.btnYellow:hover span,.btn.btnYellow:focus span,
.btn.btnGreen:hover span,.btn.btnGreen:focus span{color:#fff;transition:0.5s;}
.btn.circulerBtn{border-radius:25px!important;}

/* =============Profile,Edit Profile,Change Password========== */
.globalCard{background: #fff; border: 1px solid #dddfe2;border-radius:3px;padding:10px 15px;margin-bottom:15px;}
.profileImg{position:relative;width:100px;height:100px;}
.profileImg img{width:100%;height:100%;}
span.camera { display: inline-block; position: absolute; right: 0; bottom: 10px; width: 25px; height: 25px; border-radius: 100%; text-align: center; color: #fff; background: #d3a500; font-size: 12px; line-height: 25px; }
.profileImg input{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;z-index:9;}
.formBox {position:relative;}
.formBox label.control-label{color:#0e0e0e;font-size:13px;font-weight:600;}
.formBox .form-group{margin-bottom:15px;}
.viewField{font-size:13px;}
.formBoxHorizontal label.control-label{margin:0;width:50%;text-align:right;padding-right:10px;}
a.btn.editBtn {position:absolute;right:0;top:36px;}
.propertyBox {padding:10px;border:1px solid #dddfe2;border-radius:3px;text-align:center;}
.propertyBox h6{font-size:15px;margin:0 0 10px;font-weight:600;}

.profileComunityInfo{}
.ComunityInfoInner{max-width:calc(33.33% - 7px);font-size:13px;font-weight:600;}
.ComunityInfoInner span{margin-right:3px;}

/* ==================Notification=============== */
.notificationBox{background:#fff;}
.notificationList{margin:0;}
.notificationList li {border-bottom:1px solid #dddfe2;}
.notificationList li.active{background:#e2e2e5;}
.notificationList li:hover,.notificationList li:focus{background:#f6f6f6;}
.notificationList li:last-child{border-bottom:none;}
.notificationList li a{position:relative;padding:5px 10px 5px 50px;min-height:32px;display:block;text-decoration:none!important;font-size:12px;
color:#333!important;}
.notifyUserImg{position:absolute;left:10px;top:7px;}
.notifyUserImg img{width:32px;height:32px;border-radius:100%;}
.notificationList li p { margin: 0 0 3px; line-height: 16px; }
.notifyTime{margin:0;color:#90949c;font-size:12px;line-height:1;}
.notifyTime i{margin-right:7px;}

/* ==================My Property============= */
.nav-tabs.globalNavTabs{margin:0;border:none;}
.nav-tabs.globalNavTabs .nav-item{margin-bottom:0;}
.nav-tabs.globalNavTabs .nav-item + .nav-item,.filterOption a + a{border-left:1px solid #fff;}
.nav-tabs.globalNavTabs .nav-item .nav-link{border:none;font-size:13px;background:#dddfe2;color:#333346;border-radius:0;text-align:center;font-weight:600;}
.nav-tabs.globalNavTabs .nav-item .nav-link.active,
.nav-tabs.globalNavTabs .nav-item .nav-link:hover{background:#d3a500;color:#fff;}
/* One item */
.widthDivider li:first-child:nth-last-child(1){width:100%;}
/* two items */
.widthDivider li:first-child:nth-last-child(2),
.widthDivider li:first-child:nth-last-child(2) ~ li {width: 50%;}
/* three items */
.widthDivider li:first-child:nth-last-child(3),
.widthDivider li:first-child:nth-last-child(3) ~ li {width: 33.3333%;}
/* four items */
.widthDivider li:first-child:nth-last-child(4),
.widthDivider li:first-child:nth-last-child(4) ~ li {width:25%;}
.propertyDetailBox {position:relative;}
.propertyDetailBox + .propertyDetailBox{margin-top:10px;}
.propertyDetailInfo {margin-top:0;position:absolute;left:0;bottom:0;width:100%;padding:10px;/* background:rgba(51, 51, 70, 0.6); */color:#fff;z-index:9;}
.propertyRequest {font-size:13px;color:#fff;font-weight:600;background:#d3a500/* #d7c7fe */;padding:3px 12px;}
.propertyRate{font-size:18px;}
.propertyRate p{font-size:13px;margin:0;}
.propertyRate strong{font-weight:600;}

.tabsWithFilter { position: relative; padding-right:110px;min-height: 30px;}
.filterOption{position:absolute;right:0;top:0;width:100px;display:flex;background:#dddfe2;}
.filterOption a{width:33.33%;color:#333346!important;text-decoration:none!important;font-size:18px;line-height:35px;text-align:center;min-height:35px;}
.filterOption a i.fa-filter{font-size:15px;}

.propertyDetailSlider .carousel-control-prev,.propertyDetailSlider .carousel-control-next{display:none;}
/* ===============Filter Field=========== */
.filterCommonStyle,.chatNavBox,.chat{background:#fff;border:1px solid #dddfe2;border-radius:3px;padding:10px;margin-bottom:10px;}
.filterCommonStyle .form-control,.autoCompleteSearchBox .form-control{height:auto!important;min-height:36px;font-size:13px;resize:none;}
.filterCommonStyle select.drop-down{background-size:11px;}
.filterCommonStyle h5,.chatNavBox h5{margin:0 0 10px;font-size:17px;text-align:center;font-weight:600;}
.hide{display:none!important;}
.rangePoint span{font-size:12px;font-weight:600;}

/* ============Chat Box Panel============ */
.chatNavBox{}
.autoCompleteSearchBox{margin-bottom:10px;}
.chatNavList{margin:0;}
.chatNavImg{width:40px;}
.chatNavImg img{width:34px;height:34px;border-radius:100%;}
.chatNavList li a{display:flex;font-size:12px;color:#333346!important;text-decoration:none!important;align-items:center;padding:5px;
position:relative;}
.chatNavList li a:hover{background:#dddfe2;}
.chatNavList li a label{margin:0;}
.userStatus{width:7px;height:7px;border-radius:100%;position:absolute;top:calc(50% - 3.5px);right:5px;}
.online{background: rgb(66, 183, 42);}
.offline{background:#ccc;}

/* ===================Chat============== */
.chatBox {position:relative;padding-bottom:41px;}
.chatBoxhead{color:#fff;background-color:#007955;padding:10px 15px;font-weight:600;font-size:18px;}
.chatBoxBody{position:relative;padding-bottom:41px;}
.chat {overflow-y: auto;}
.chat-user-name {font-size:13px;color:#333;font-weight:600;margin-bottom:7px;line-height:14px;}
.dateandtime { font-size: 11px; color: #9a9da4; padding-left: 11px; margin-top: 1px; }
.chat-inner-box p{margin:0;}
.chat-inner-box p span{line-height:15px;font-size:12px;text-align:left;padding:6px 10px;word-break:break-all;border-radius:25px;display:inline-block;}
.chat-inner-box p + p{margin-top:3px;}
.chat li + li{margin-top:5px;}
.chat li:last-child{margin-bottom:0px;}
.chat li.left{text-align:left;}
.chat li.right{text-align:right;}

.chat li.left p span{background:#f1f0f0;color:#4b4f56;}
.chat li.right p span{background:#4080ff;color:#fff;}
.chat-inner-box{max-width:90%;position: relative;}
.chat-inner-box img{position:absolute;top:10px;width:40px;height:40px;border-radius:100%;}
.chat li.left .chat-inner-box{float:left;}
.chat li.right .chat-inner-box{float:right;}
.chat li.right .chat-inner-box img{right:0;}
.chat li.left .chat-inner-box img{left:0;}
.chat-comment-box { position: absolute; border:1px solid #ddd; width:100%; left: 0; bottom: 0; }
.chat-comment-box .form-control{border-radius:0;padding-right:80px;border:none;box-shadow:none;min-height:40px;font-size:13px;}
.btn.send-chat-btn {position:absolute;right:10px;top:3px;color:#26b0a6;background:none;box-shadow:none;padding:3px 6px;font-size:20px;}
.btn.send-chat-btn:hover,
.btn.send-chat-btn:focus{color:#C1C7D0;background:none;box-shadow:none;}
.emojiBtn {position:absolute;right:50px;top:10px;background:transparent;border:none;color:#d3a500;padding:0;font-size:20px;min-height:auto;height:auto; line-height:normal;}

/* ===============Map View============= */
.globalMap iframe{width:100%;min-height:300px;}
.mapActionBtn .btn{max-width:calc(33% - 8px);}
.favStarBtn {width:20px;position:absolute;right:10px;top:10px;z-index:9;cursor:pointer;}
.followingDetailBox .favStarBtn{top:35px;}
.propertyDetailSlider{position:relative;}
.propertyDetailSlider:before,
.sellerAccountView:before{background:rgba(0,0,0,0.5);position:absolute;height:100%;width:100%;left:0;top:0;content:"";z-index:1;}


/* ================Property Detail============ */
.propertyDetailBtn .btn{max-width:49%;}
.PropertyDetailBottomBox h4{font-size:15px;margin:0 0 5px;font-weight:600;line-height:16px;}
.PropertyDetailBottomBox p{font-size:13px;opacity:0.8;}

.propIconBox i{font-size:26px;color:#d3a500;}
.propIconBox p{margin:7px 0 0;font-weight:600;font-size:16px;}
.middleBorder{border-left:1px solid #dddfe2;border-right:1px solid #dddfe2;}
.rightRentLogo{}
.propertyLogo{width:40px;height:40px;line-height:40px;border-radius:100%;background:#fff;margin-left:10px;display:inline-block;}
.propertyLogo img{max-width:30px;}

.commonBgStyle{background-position:0 0;background-repeat:no-repeat;background-size:cover;}
.sellerAccountView{min-height:250px;position:relative;overflow:hidden;border-radius:3px;}
.sellerAccountView .w-100{position:relative;z-index:9;}
.sellerImg{width:120px;height:120px;display:inline-block;}
.sellerImg img,.propoffImg img{width:100%;height:100%;border-radius:100%;}
.sellerAccountView h5{margin:15px 0 5px;color:#fff;font-size:16px;font-weight:600;line-height:1;}
.sellerAccountView label{margin:0;font-size:13px;color:#fff;font-weight:600;line-height:1;}

.documentList{margin:0;}
.documentList li { position: relative; padding-left: 30px; padding-right:30px; opacity: 0.8; font-size: 13px; border-bottom: 1px solid #fff; padding-bottom: 5px; margin-bottom: 0; background: #e2e2e5; padding-top: 5px; }
.documentList li i.fa-paperclip,.viewDocBtn{position:absolute;}
.documentList li i.fa-paperclip{left:10px;top:10px;}
.viewDocBtn{right:10px;color: #3a3c46!important;top:5px;}


.documentTagList{margin:0;}
.documentTagList li{display:inline-block;vertical-align:top;}
.tagBox {position:relative;border:1px solid #e2e2e5; padding:7px 12px 7px 52px;margin:0 5px 5px 0;border-radius:3px;overflow:hidden;}
.tagNo {font-size:14px;background:#3a3c46;position:absolute;left:0;top:0;height:100%;width:40px;color:#fff;text-align:center;line-height:36px;}
.tagInfo{font-size:13px;font-weight:600;opacity: 0.6;}
.iconBox { text-align: center; border: 1px solid #e2e2e5; display: block; padding: 15px; }

/* ===============Modal============= */
.globalModal .modal-header .close { padding: 0; margin: 0; position: absolute; right: 11px; top: 21px; }
.btn.btnBrowse { background: #3c00e8; color: #fff; font-size: 13px; font-weight: 600; min-height: 40px; border-radius: 0; }
.browseImgBox .file { visibility: hidden; position: absolute; }

/* =============Make Form=========== */
.propFollowBox .head4{line-height:20px;}
.propFollowBox{margin-bottom:15px;}
.propCommonList{margin:0;max-height:300px;overflow-y:auto;}
.propCommonList li{font-size:13px;font-weight:600;opacity: 0.6;}
.propCommonList li + li{margin-top:5px;}
.propOfferedList {border-top:1px solid #e2e2e5;padding-top:10px;}
.propOfferBox h4{font-size:13px;line-height:16px;}
.propOfferBox{text-align:center;margin-top:10px;}
.propoffImg{width:80px;height:80px;display:inline-block;margin-bottom:10px;}
.offerPrice { font-size: 20px; margin-bottom: 12px; font-weight: 600; }
/* ==================Comment Form============= */
.feedUserDetailBox.commentUserDetail { position: relative; display: block; padding-left:50px;padding-right:10px;}
.commentUserDetail .feedUserImg{position:absolute;left:0;top:0;}
.commentUserDetail p{font-size:13px;opacity: 0.8;margin:0;line-height: 1.4;}
.FeedDropDown{position:absolute;}
.FeedDropDown .dropdown-toggle:after{display:none;}
.FeedDropDown { position: absolute; right: 0px; top: 0; }
.FeedDropDown .dropdown-menu {width:100px;min-width:auto;transform:none!important;float:none;left:auto!important;right:0;top:100%!important;padding:0; border-radius:0;}
.FeedDropDown .dropdown-menu .dropdown-item{font-size:13px;}
.FeedDropDown .dropdown-menu .dropdown-item +	.dropdown-item{border-top:1px solid #e2e2e5;}

/* =================Tag Friend============ */
.tagFriendBox + .tagFriendBox{margin-top:10px;}
.tagfriendName{width:calc(100% - 110px);font-size:14px;}
.searchBox .form-control{width:calc(100% - 110px);}

/* ===================Table========= */
table.tableStyle1{background: #fff;border:1px solid #ddd;margin-bottom:0;}

table.tableStyle1 thead tr th{padding:8px;background:#e2e2e5;}
table.tableStyle1 thead tr th,table.tableStyle1 tbody tr td{font-size:13px;text-align:center;}
/* .table-box table thead tr th:first-child,.table-box table tbody tr td:first-child,
.table-box table thead tr th:last-child,.table-box table tbody tr td:last-child{text-align:left;} */
table.tableStyle1 tbody tr td{padding:8px;font-weight:500;}
.table-box table tbody tr td a{color:#a6a7ac;}
.dataTables_info { color: #4a4a4a; font-size: 16px; float: left; }
.dataTables_paginate {text-align:right;margin-top:15px;}
.paginate_button + .paginate_button{margin-left:15px;}
.current { padding: 6px 9px; font-size: 10px; background-color: #5596eb!important; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; cursor: pointer; }

.paginate_button{ padding: 6px 9px; font-size: 10px; background-color: #72afff; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; cursor: pointer; }
.dataTables_paginate .previous,
.dataTables_paginate .next {text-align:center;position:relative;cursor:pointer;padding:2px 10px 2px 10px;border-radius:2px;}
.dataTables_paginate .previous{margin-right: 7px;}
.dataTables_paginate .next{margin-left:7px;}
.dataTables_paginate a,
.dataTables_paginate span{color:#fff;font-size:13px;display:inline-block;background:#3a3c46;}
.dataTables_paginate a{padding: 2px 9px;border-radius: 2px;text-decoration:none!important;}
.dataTables_paginate a.active,
.dataTables_paginate a:hover{background:#3c00e8;color:#fff;}

/*===================Table Style End=============== */

/* ================Bank=========== */
.otpBox .form-control{text-align:center;font-size: 18px;}
.otpBox .form-control + .form-control {margin-left: 10px;}
.AcOptionBox{border:1px solid #d3a500;min-height:100px;margin-bottom:15px;color:#d3a500!important;text-decoration:none!important;font-size:15px;
background:#fff;}
.successIcon{display:inline-block;width:40px;}
.statementList li { display: flex; font-size: 14px; background: #e2e2e5; padding: 5px 10px; margin-bottom: 10px; }
.statementList li span{width:calc(100% - 55px);}
.statementList li label{margin-bottom:0;margin-left:auto;font-weight:600;width:60px;text-align:right;}

/* ===========Community========== */
.userGroupList li {display:flex;align-items:center; }
.userGroupList li + li{margin-top:10px;border-top:1px solid #e2e2e5;padding-top:10px;}
.groupImg{width:50px;}
.groupImg img{width:40px;height:40px;border-radius:100%;}
.userGroupInfo{width:calc(100% - 50px);}
.userGroupInfo h6{margin:0 0 3px;font-size:16px;font-weight:600;line-height:1;font-family:'Open Sans', sans-serif;}
.userGroupInfo span{font-size:12px;color:#d3a500;line-height:1;}

/* ============NuSlider Style============== */
.nuSliderStyle{}
.nuSliderStyle .noUi-handle{
    background: #3c00e8;
    box-shadow: none;
    width:15px;
    height:15px;
    border-radius: 50%;
    border-color: #3c00e8;
    top:-7px;
}
.nuSliderStyle .noUi-handle:before,.nuSliderStyle .noUi-handle:after{display:none;}

html:not([dir="rtl"]) .nuSliderStyle .noUi-horizontal .noUi-handle.noUi-handle-upper {right:0;}
html:not([dir="rtl"]) .nuSliderStyle .noUi-horizontal .noUi-handle.noUi-handle-lower {right:-14px;}
.noUi-horizontal {height: 2px;    margin-left: 3px;}
.noUi-target {
    background:#e2e2e5;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.noUi-connect {
    background: #3c00e8;
    box-shadow: none;
}
.noUi-background {
    background: #dddddd;
    box-shadow: none;
}
.input-slider-values {
    font-size: 12px;
    font-weight: 500;
    color: #2e353b;
    margin:0px 0 7px;
    padding: 0 2px;
}

.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.06);
}
