@import url("fontawesome-all.min.css");
@import url('fonts.css');
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #707070;
    font-size: 14px;
    font-family: Arial;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset!important;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="file"],
textarea,
button,
input[type="password"],
input[type="tel"],
select {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    box-shadow: none;
    border-radius: 2px;
}

a,
input,
button,
a:focus,
input:focus,
button:focus {
    outline: none!important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px!important;
}

a:hover,
a:focus,
a {
    color: #777;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.navy-blue {
    color: #1e8ea8!important;
}

.font_uni_sans {
    font-family: 'Uni Sans Heavy CAPS'!important;
}

.modal-footer .btn,
.calendar-action .btn,
.font_uni_sans_italic {
    font-family: Uni Sans Heavy Italic CAPS;
}

.btn.btn-navy-blue {
    background: #1e8ea8;
    color: #fff;
}

.btn-gray {
    background: #838383;
    color: #fff;
}

.bdr-none {
    border: none!important;
}

.r {
    box-shadow: inset 0px 0px 10px red;
}

.g {
    box-shadow: inset 0px 0px 10px green;
}

.b {
    box-shadow: inset 0px 0px 10px blue;
}

.Dcell {
    display: table-cell!important;
    vertical-align: middle!important;
}

.Dblock {
    display: block;
}

.D-in-block {
    display: inline-block;
}

.text_red {
    color: #fe4a4c!important;
}

.text_white {
    color: #fff!important;
}

.font16 {
    font-size: 16px!important;
}

.font14 {
    font-size: 14px!important;
}

.redcol {
    color: #f26722!important;
}

.yellowcol {
    color: #f3b972!important;
}

.color-blue {
    color: #5391df!important;
}

.whitecol {
    color: #fff!important;
}

.bottom-0 {
    bottom: 0px!important
}

.btn-orrange {
    background: #ff9326;
    color: #fff;
}

.btn-white {
    background: #fff;
    color: #1d2b39;
}

.bg-white {
    background: #fff;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.p0 {
    padding: 0px!important;
}

.p5 {
    padding: 5px!important;
}

.p10 {
    padding: 10px!important;
}

.p15 {
    padding: 15px!important;
}

.p20 {
    padding: 20px!important;
}

.p25 {
    padding: 25px!important;
}

.p30 {
    padding: 30px!important;
}

.p35 {
    padding: 35px!important;
}

.mr0 {
    margin-right: 0px!important;
}

.mr5 {
    margin-right: 5px!important;
}

.mr10 {
    margin-right: 10px!important;
}

.mr15 {
    margin: 15px!important;
}

.pLR5 {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.pLR6 {
    padding-left: 6px!important;
    padding-right: 6px!important;
}

.pLR10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.pLR15 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.pLR30 {
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.pL0 {
    padding-left: 0px!important;
}

.pL5 {
    padding-left: 5px!important;
}

.pL7 {
    padding-left: 7px!important;
}

.pL10 {
    padding-left: 10px!important;
}

.pL15 {
    padding-left: 15px!important;
}

.pL20 {
    padding-left: 20px!important;
}

.pL25 {
    padding-left: 25px!important;
}

.pL32 {
    padding-left: 32px!important;
}

.pR0 {
    padding-right: 0px!important;
}

.pR5 {
    padding-right: 5px!important;
}

.pR10 {
    padding-right: 10px!important;
}

.pR15 {
    padding-right: 15px!important;
}

.pR20 {
    padding-right: 20px!important;
}

.pR25 {
    padding-right: 25px!important;
}

.pr0 {
    padding-right: 0px!important;
}

.pr1 {
    padding-right: 1px!important;
}

.pr2 {
    padding-right: 0px!important;
}

.pr3 {
    padding-right: 3px!important;
}

.pr4 {
    padding-right: 4px!important;
}

.pr5 {
    padding-right: 5px!important;
}

.pR7 {
    padding-right: 7px!important;
}

.pt0 {
    padding-top: 0px!important;
}

.pt1 {
    padding-top: 1px!important;
}

.pt2 {
    padding-top: 0px!important;
}

.pt3 {
    padding-top: 3px!important;
}

.pt4 {
    padding-top: 4px!important;
}

.pt5 {
    padding-top: 5px!important;
}

.pt10 {
    padding-top: 10px!important;
}

.pt15 {
    padding-top: 15px!important;
}

.pt20 {
    padding-top: 20px!important;
}

.pt25 {
    padding-top: 25px!important;
}

.pt30 {
    padding-top: 30px!important;
}

.pt35 {
    padding-top: 35px!important;
}

.pb0 {
    padding-bottom: 0px!important;
}

.pb5 {
    padding-bottom: 5px!important;
}

.pb10 {
    padding-bottom: 10px!important;
}

.pb15 {
    padding-bottom: 15px!important;
}

.pb20 {
    padding-bottom: 20px!important;
}

.pb25 {
    padding-bottom: 25px!important;
}

.pb30 {
    padding-bottom: 30px!important;
}

.pb35 {
    padding-bottom: 35px!important;
}

.mt0 {
    margin-top: 0px!important;
}

.mt1 {
    margin-top: 1px!important;
}

.mt2 {
    margin-top: 2px!important;
}

.mt3 {
    margin-top: 3px!important;
}

.mt4 {
    margin-top: 4px!important;
}

.mt5 {
    margin-top: 5px!important;
}

.mt6 {
    margin-top: 6px!important;
}

.mt7 {
    margin-top: 7px!important;
}

.mt8 {
    margin-top: 8px!important;
}

.mt9 {
    margin-top: 9px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt15 {
    margin-top: 15px!important;
}

.mt20 {
    margin-top: 20px!important;
}

.mt25 {
    margin-top: 25px!important;
}

.mt30 {
    margin-top: 30px!important;
}

.mt35 {
    margin-top: 35px!important;
}

.mt40 {
    margin-top: 40px!important;
}

.mt45 {
    margin-top: 45px!important;
}

.mt50 {
    margin-top: 50px!important;
}

.mb0 {
    margin-bottom: 0px!important;
}

.mb1 {
    margin-bottom: 1px!important;
}

.mb2 {
    margin-bottom: 2px!important;
}

.mb3 {
    margin-bottom: 3px!important;
}

.mb3 {
    margin-bottom: 4px!important;
}

.mb4 {
    margin-bottom: 5px!important;
}

.mb5 {
    margin-bottom: 5px!important;
}

.mb6 {
    margin-bottom: 6px!important;
}

.mb7 {
    margin-bottom: 7px!important;
}

.mb8 {
    margin-bottom: 8px!important;
}

.mb9 {
    margin-bottom: 9px!important;
}

.mb10 {
    margin-bottom: 10px!important;
}

.mb15 {
    margin-bottom: 15px!important;
}

.mb20 {
    margin-bottom: 20px!important;
}

.mb25 {
    margin-bottom: 25px!important;
}

.mb30 {
    margin-bottom: 30px!important;
}

.mb35 {
    margin-bottom: 35px!important;
}

.mb40 {
    margin-bottom: 40px!important;
}

.mb45 {
    margin-bottom: 45px!important;
}

.mb50 {
    margin-bottom: 50px!important;
}

.mr0 {
    margin-right: 0px!important;
}

.mr1 {
    margin-right: 1px!important;
}

.mr2 {
    margin-right: 2px!important;
}

.mr3 {
    margin-right: 3px!important;
}

.mr4 {
    margin-right: 4px!important;
}

.mr5 {
    margin-right: 5px!important;
}

.mr6 {
    margin-right: 6px!important;
}

.mr7 {
    margin-right: 7px!important;
}

.mr8 {
    margin-right: 8px!important;
}

.mr9 {
    margin-right: 6px!important;
}

.mr10 {
    margin-right: 10px!important;
}

.mL0 {
    margin-left: 0px!important;
}

.mL1 {
    margin-left: 1px!important;
}

.mL2 {
    margin-left: 2px!important;
}

.mL3 {
    margin-left: 3px!important;
}

.mL4 {
    margin-left: 4px!important;
}

.mL5 {
    margin-left: 5px!important;
}

.mL6 {
    margin-left: 6px!important;
}

.mL7 {
    margin-left: 7px!important;
}

.mL8 {
    margin-left: 8px!important;
}

.mL9 {
    margin-left: 9px!important;
}

.mL10 {
    margin-left: 10px!important;
}

.mTB0 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.mTB5 {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.mTB0 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.mTB5 {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.mt-min0 {
    margin-top: -0px!important;
}

.mt-min1 {
    margin-top: -1px!important;
}

.mt-min2 {
    margin-top: -2px!important;
}

.mt-min3 {
    margin-top: -3px!important;
}

.mt-min4 {
    margin-top: -4px!important;
}

.mt-min5 {
    margin-top: -5px!important;
}

.mt-min6 {
    margin-top: -6px!important;
}

.mt-min7 {
    margin-top: -7px!important;
}

.mt-min8 {
    margin-top: -8px!important;
}

.mt-min9 {
    margin-top: -9px!important;
}

.mt-min10 {
    margin-top: -10px!important;
}

.top-0 {
    top: 0px!important
}

.top-1 {
    top: 1px!important
}

.top-2 {
    top: 2px!important
}

.top-3 {
    top: 3px!important
}

.top-4 {
    top: 4px!important
}

.top-5 {
    top: 5px!important
}

.top-10 {
    top: 10px!important
}

.top-15 {
    top: 15px!important
}

.top-20 {
    top: 20px!important
}

.top-25 {
    top: 25px!important
}

.top-30 {
    top: 30px!important
}

.top-35 {
    top: 35px!important
}

.top-40 {
    top: 40px!important
}

.top-45 {
    top: 45px!important
}

.top-50 {
    top: 50px!important
}

.top-55 {
    top: 55px!important
}

.top-60 {
    top: 60px!important
}

.top-65 {
    top: 65px!important
}

.top-70 {
    top: 70px!important
}

.top-75 {
    top: 75px!important
}

.top-80 {
    top: 80px!important
}

.top-85 {
    top: 85px!important
}

.top-90 {
    top: 90px!important
}

.top-95 {
    top: 95px!important
}

.top-100 {
    top: 100px!important
}

.topmin-0 {
    top: -0px!important
}

.topmin-1 {
    top: -1px!important
}

.topmin-2 {
    top: -2px!important
}

.topmin-3 {
    top: -3px!important
}

.topmin-4 {
    top: -4px!important
}

.topmin-5 {
    top: -5px!important
}

.topmin-10 {
    top: -10px!important
}

.left-0 {
    left: 0px!important
}

.left-1 {
    left: 1px!important
}

.left-2 {
    left: 2px!important
}

.left-3 {
    left: 3px!important
}

.left-4 {
    left: 4px!important
}

.left-5 {
    left: 5px!important
}

.left-10 {
    left: 10px!important
}

.left-15 {
    left: 15px!important
}

.left-20 {
    left: 20px!important
}

.left-25 {
    left: 25px!important
}

.left-30 {
    left: 30px!important
}

.left-35 {
    left: 35px!important
}

.left-40 {
    left: 40px!important
}

.left-45 {
    left: 45px!important
}

.left-50 {
    left: 50px!important
}

.left-55 {
    left: 55px!important
}

.left-60 {
    left: 60px!important
}

.left-65 {
    left: 65px!important
}

.left-70 {
    left: 70px!important
}

.left-75 {
    left: 75px!important
}

.left-80 {
    left: 80px!important
}

.left-85 {
    left: 85px!important
}

.left-90 {
    left: 90px!important
}

.left-95 {
    left: 95px!important
}

.left-100 {
    left: 100px!important
}


/*Global font size css*/

.f-size-11 {
    font-size: 11px!important;
}

.f-size-12 {
    font-size: 12px!important;
}

.f-size-12 {
    font-size: 12px!important;
}

.f-size-13 {
    font-size: 13px!important;
}

.f-size-14 {
    font-size: 14px!important;
}

.f-size-15 {
    font-size: 15px!important;
}

.f-size-16 {
    font-size: 16px!important;
}

.f-size-17 {
    font-size: 17px!important;
}

.f-size-18 {
    font-size: 18px!important;
}

.f-size-19 {
    font-size: 19px!important;
}

.f-size-20 {
    font-size: 20px!important;
}

.f-size-21 {
    font-size: 21px!important;
}

.f-size-22 {
    font-size: 22px!important;
}

.f-size-23 {
    font-size: 23px!important;
}

.f-size-24 {
    font-size: 24px!important;
}

.f-size-25 {
    font-size: 25px!important;
}

.font-100 {
    font-weight: 100!important;
}

.font-200 {
    font-weight: 200!important;
}

.font-300 {
    font-weight: 300!important;
}

.font-400 {
    font-weight: 400!important;
}

.font-500 {
    font-weight: 500!important;
}

.font-600 {
    font-weight: 600!important;
}


/*Global width css*/

.max-WT-100 {
    width: 100%;
    max-width: 100px!important;
}

.max-WT-170 {
    width: 100%;
    max-width: 170px!important;
}

.max-WT-320 {
    width: 100%;
    max-width: 320px!important;
}

.max-WT-360 {
    width: 100%;
    max-width: 360px!important;
}

.max-WT-480 {
    width: 100%;
    max-width: 480px!important;
}

.max-WT-600 {
    width: 100%;
    max-width: 600px!important;
}

.max-WT-767 {
    width: 100%;
    max-width: 767px!important;
}

.max-WT-991 {
    width: 100%;
    max-width: 991px!important;
}

.max-WT-20 {
    width: 100%;
    max-width: 20px!important;
}

.max-WT-30 {
    width: 100%;
    max-width: 30px!important;
}

.max-WT-40 {
    width: 100%;
    max-width: 40px!important;
}

.max-WT-50 {
    width: 100%;
    max-width: 50px!important;
}

.max-WT-60 {
    width: 100%;
    max-width: 60px!important;
}

.max-WT-70 {
    width: 100%;
    max-width: 70px!important;
}

.max-WT-80 {
    width: 100%;
    max-width: 80px!important;
}

.max-WT-90 {
    width: 100%;
    max-width: 90px!important;
}

.max-WT-100 {
    width: 100%;
    max-width: 100px!important;
}

.max-WT-110 {
    width: 100%;
    max-width: 110px!important;
}

.max-WT-120 {
    width: 100%;
    max-width: 120px!important;
}

.max-WT-130 {
    width: 100%;
    max-width: 130px!important;
}

.max-WT-140 {
    width: 100%;
    max-width: 140px!important;
}

.max-WT-150 {
    width: 100%;
    max-width: 150px!important;
}

.max-WT-160 {
    width: 100%;
    max-width: 160px!important;
}

.max-WT-170 {
    width: 100%;
    max-width: 170px!important;
}

.max-WT-180 {
    width: 100%;
    max-width: 180px!important;
}

.max-WT-190 {
    width: 100%;
    max-width: 190px!important;
}

.max-WT-200 {
    width: 100%;
    max-width: 200px!important;
}

.max-WT-250 {
    width: 100%;
    max-width: 250px!important;
}

.max-WT-290 {
    width: 100%;
    max-width: 290px!important;
}

.max-WT-300 {
    width: 100%;
    max-width: 300px!important;
}

.max-WT-350 {
    width: 100%;
    max-width: 350px!important;
}

.max-WT-400 {
    width: 100%;
    max-width: 400px!important;
}

.max-WT-450 {
    width: 100%;
    max-width: 450px!important;
}

.max-WT-500 {
    width: 100%;
    max-width: 500px!important;
}

.max-WT-520 {
    width: 100%;
    max-width: 520px!important;
}

.max-WT-550 {
    width: 100%;
    max-width: 550px!important;
}

.max-WT-600 {
    width: 100%;
    max-width: 600px!important;
}

.max-WT-650 {
    width: 100%;
    max-width: 650px!important;
}

.max-WT-700 {
    width: 100%;
    max-width: 700px!important;
}

.max-WT-690 {
    width: 100%;
    max-width: 690px!important;
}

.max-WT-800 {
    width: 100%;
    max-width: 800px!important;
}

.max-WT-900 {
    width: 100%;
    max-width: 900px!important;
}

.max-WT-940 {
    width: 100%;
    max-width: 940px!important;
}

.max-WT-1000 {
    width: 100%;
    max-width: 1000px!important;
}

.max-WT-576 {
    width: 100%;
    max-width: 576px!important;
}

.max-WT-1024 {
    width: 100%;
    max-width: 1024px!important;
}

.min-ht-300 {
    min-height: 300px;
}

.min-ht-350 {
    min-height: 350px;
}

.min-ht-400 {
    min-height: 400px;
}

.min-ht-450 {
    min-height: 450px;
}

.min-ht-500 {
    min-height: 500px;
}

.min-ht-550 {
    min-height: 550px;
}

.min-ht-600 {
    min-height: 600px;
}

.min-ht-650 {
    min-height: 650px;
}

.min-ht-700 {
    min-height: 700px;
}

.min-ht-750 {
    min-height: 750px;
}

.no-shadow {
    box-shadow: none!important;
}

.height_100vh {
    height: calc(100vh - 80px);
}

.radius0 {
    border-radius: 0!important;
}

.radius2 {
    border-radius: 2px!important;
}

.radius4 {
    border-radius: 4px!important;
}

.btn.btn-large {
    color: #fff!important;
    width: 100%;
    min-width: 100px;
    border-radius: 3px;
    font-size: 17px;
    padding: 12px;
}

.btn.btn-large:hover,
.btn.btn-large:focus {
    color: #fff;
}


/*Start Checkbox design*/


/* .btn.btn-blue:hover span,btn.btn-blue:focus span,.btn.btn-red:hover span,.btn.btn-red:focus span{color:#fff;transition:0.5s;} */

.btn-round {
    border-radius: 25px;
}

.btn-wt-100 {
    width: 100px;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: none;
    color: #fff;
}

.btn-dark-blue {
    background: #2fa0d4;
}

.btn.btn-blue {
    background: #2fa0d4;
    min-width: 88px;
    font-size: 14px;
}

.btn.btn-darkgreen {
    background: #009e0f;
}

.btn-gray {
    background: #5f5f5f;
    color: #fff;
}

.btn-gray:hover,
.btn-gray:focus {
    color: #fff;
}

.btn.back-btn {
    float: left;
    background: #A9A9A9!important;
}

.btn.btn-light-blue {
    background: #3dc7db;
}

.btn.btn-light-blue:hover,
.btn.btn-light-blue:focus {
    background-color: #3dc7db;
}

.btn.btn-red {
    background: #d6051d;
    color: #fff;
}

.btn.btn-red:hover,
.btn.btn-red:focus {
    background-color: rgba(214, 5, 29, 0.8);
}

.btn-yellow {
    background-color: #f5b948;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: rgba(245, 185, 72, 0.8);
}

.btn-brown {
    background-color: #7f4c4c;
}

.btn-brown:hover,
.btn-brown:focus {
    background-color: rgba(127, 76, 76, 0.8);
}

.btn-green2 {
    background-color: #59b200;
}

.btn-green:hover,
.btn-green:focus {
    background-color: rgba(89, 178, 0, 0.8);
}

.btn-greendark {
    background-color: #009e0f;
    color: #fff;
}

.btn-greendark:hover,
.btn-green:focus {
    opacity: 0.8;
    color: #fff;
}

.btn.btn-green {
    background: #2fa0d4;
    color: #fff;
}

select.form-control {
    background-image: url("../img/down_arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 13px auto;
    border-color: #e7eaee;
    padding-right: 20px;
    box-shadow: none;
}

select.form-control.select_style1 {
    background-image: url("../img/down_arrow.png");
    background-size: 13px auto;
    font-size: 14px;
}

select.form-control:focus {
    box-shadow: none;
    outline: none;
}

input.form-control.select_style1 {
    background-image: url("../img/icon-calendar.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 16px auto;
    border-color: #e7eaee;
    padding-right: 20px;
    box-shadow: none;
}

input::-moz-focus-inner {
    border: 0;
    outline: none;
}

select:-moz-focusring:focus {
    color: transparent;
    outline: none!important;
}

label.radio-design {
    position: relative;
    padding-left: 30px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #909090;
    margin-right: 8px;
}

label.radio-design input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

label.radio-design input[type="radio"]~span {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #9f9c9c;
    background: #f2f4f8;
}

label.radio-design input[type="radio"]~span:before {
    opacity: 0;
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    background: #d246cb;
    border-radius: 50%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
}

label.radio-design input[type="radio"]:checked~span {
    border: 1px solid #ddd;
}

label.radio-design input[type="radio"]:checked~span:before {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}

label.checkbox-design {
    position: relative;
    padding-left: 30px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #909090;
    margin-right: 8px;
}

label.checkbox-design input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

label.checkbox-design input[type="checkbox"]~span {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #ebe8e8;
    box-shadow: inset 3px 2px 4px rgba(0, 0, 0, 0.2);
}

label.checkbox-design input[type="checkbox"]~span:before {
    opacity: 0;
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 9px;
    background: transparent;
    border-right: 2px solid #2e9fd3;
    border-bottom: 2px solid #2e9fd3;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    transform: scale(0) rotate(45deg);
    -webkit-transform: scale(0) rotate(45deg);
    -ms-transform: scale(0) rotate(45deg);
}

label.checkbox-design input[type="checkbox"]:checked~span {
    border: 1px solid #bbb5bb;
}

label.checkbox-design input[type="checkbox"]:checked~span:before {
    opacity: 1;
    transform: scale(1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
}

label.checkbox-common {
    position: relative;
    padding-left: 30px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #909090;
    margin-right: 8px;
}

label.checkbox-common input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

label.checkbox-common input[type="checkbox"]~span {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: #fff;
}

label.checkbox-common input[type="checkbox"]~span:before {
    opacity: 0;
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 9px;
    background: transparent;
    border-right: 2px solid #5db94c;
    border-bottom: 2px solid #5db94c;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    transform: scale(0) rotate(45deg);
    -webkit-transform: scale(0) rotate(45deg);
    -ms-transform: scale(0) rotate(45deg);
}

label.checkbox-common input[type="checkbox"]:checked~span {
    border: 1px solid #5db94c;
}

label.checkbox-common input[type="checkbox"]:checked~span:before {
    opacity: 1;
    transform: scale(1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
}

.custome-switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 65px;
    height: 26px;
    padding: 3px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.custome-switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.custome-switch-label {
    position: relative;
    display: block;
    height: 100%;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}

.custome-switch-label:before,
.custome-switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.custome-switch-label:before {
    content: attr(data-off);
    right: 8px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.custome-switch-label:after {
    content: attr(data-on);
    left: 8px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.custome-switch-input:checked~.custome-switch-label {
    background: #6aee3a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #6aee3a 0%, #2ac045 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6aee3a 0%, #2ac045 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6aee3a 0%, #2ac045 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6aee3a', endColorstr='#2ac045', GradientType=0);
    /* IE6-9 */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.custome-switch-input:checked~.custome-switch-label:before {
    opacity: 0;
}

.custome-switch-input:checked~.custome-switch-label:after {
    opacity: 1;
}

.custome-switch-handle {
    position: absolute;
    top: -1px;
    left: -15px;
    width: 45px;
    height: 26px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 28px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.custome-switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #e0e0e0, #ffffff);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.custome-switch-input:checked~.custome-switch-handle {
    left: 32px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}


/* Transition
    ========================== */

.custome-switch-label,
.custome-switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

label.error {
    color: #e31212;
    font-size: 14px!important;
    display: inline-block;
    width: 100%;
    font-family: 'Arial';
    margin-top: 3px;
}

.has-error.form-group .form-control {
    border-bottom: 1px solid #f00;
}

.action_td_3btn {
    width: 348px;
}

.action_td_btn .btn {
    border-radius: 0;
    text-align: center;
}

.action_td_btn .btn+.btn {
    margin-left: 7px;
}


/*==============Modal============*/

.global-modal form .form-control {
    min-height: 40px;
}

.global-modal.modal.fade .modal-dialog {
    max-width: 100%;
    margin: 15px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.global-modal .modal-header .close {
    margin: 0 0 0;
    font-size: 37px;
    font-weight: 400;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 11px;
}

.global-modal .modal-content {
    padding: 15px;
}

.inner_border_area,
.global-modal .modal-content {
    border-radius: 20px;
}

.inner_border_area {
    border: 1px solid #ccc;
    position: relative;
}

.inner_border_area:before {
    background: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    right: -1px;
    top: -1px;
    content: '';
    z-index: 1;
}

.global-modal .inner_border_area .modal-header .close {
    top: -9px;
    right: -12px;
    z-index: 999;
    font-size: 0;
    width: 25px;
    height: 25px;
}

.global-modal .inner_border_area .modal-header .close:after,
.global-modal .inner_border_area .modal-header .close:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #616161;
}

.global-modal .inner_border_area .modal-header .close:after {
    transform: rotate(45deg);
}

.global-modal .inner_border_area .modal-header .close:before {
    transform: rotate(-45deg);
}

.global-modal .modal-header {
    position: relative;
}

.global-modal .modal-title {
    color: #6c757d;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Uni Sans Thin CAPS';
    width: 100%;
}

.global-modal .modal-header .close {
    margin-top: -2px;
    font-size: 37px;
    font-weight: 400;
}

.modal_flax_height {
    min-height: 280px;
}

.reset-modal .box-title {
    margin-bottom: 60px;
}


/*==================Login Page , Forgot , Sign Up Style============*/

html,
body {
    height: 100%;
}

body.beforelogin {
    padding: 0 15px;
}

.login-box,
.signupbox-box {
    background: #fff;
}

.login-box,
.signupbox-box-outer {
    margin: 0px auto;
}

.login-box {
    border-radius: 6px;
    /* padding:15px; */
}

.signupbox-box {
    border-radius: 0 4px 4px 4px;
}

.login-box-head {
    background: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 34px;
    color: #a5a5a7;
}

.admin_logo {
    display: inline-block;
    max-width: 215px;
}

.logo_img {
    display: inline-block;
    max-width: 170px;
}

.lang_select {
    display: inline-block;
    padding: 7px 8px 0;
    background: #fff;
    border-radius: 4px;
    margin-top: 12px;
}

.lang_select span {
    display: inline-block;
    vertical-align: top;
    color: #6491c8;
    line-height: 1;
    cursor: pointer;
}

.lang_select span+span {
    border-left: 1px solid #6491c8;
    padding-left: 7px;
    margin-left: 7px;
}

.login-box-body {
    padding: 30px 50px 40px;
    position: relative;
}

.form-control.form-control-style1 {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    min-height: 45px;
    font-size: 15px;
    color: #000;
}

.form-control.form-control-style1:focus {
    box-shadow: none;
}


/*.form-control.form-control-style1:-moz-placeholder{color:#a4a4a4;}
.form-control.form-control-style1::-moz-placeholder{color:#a4a4a4;}
.form-control.form-control-style1:-ms-placeholder{color:#a4a4a4;}
.form-control.form-control-style1::-webkit-input-placeholder{color:#a4a4a4;}*/

.mail-icon {
    background-image: url("../img/mail-icon.png");
    background-size: 20px;
}

.lock-icon {
    background-image: url("../img/lock-icon.png");
    background-size: 18px;
}

.mail-icon,
.lock-icon {
    background-repeat: no-repeat;
    padding-left: 45px;
    background-position: 15px 50%;
}

.forgot-links {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-links a {
    color: #a4a4a4;
    font-size: 14px;
}

.login-info {
    margin: 20px 0 0;
    text-align: center;
    font-size: 16px;
}

.text-underline {
    text-decoration: underline;
}

.box-title {
    margin-bottom: 30px;
}

.box-title h2 {
    font-family: 'Gill Sans MT Condensed';
    margin: 0 0 15px;
    font-size: 35px;
    color: #4c4c4c;
    font-weight: 500;
}

.box-title p {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #4a4a4a;
}

.off-icon {
    font-size: 36px;
    color: #000;
}

.form-control.form-control-style2 {
    min-height: 45px;
    border-color: #ddd;
}

.signupbox-box-outer .tab-content .tab-pane {
    padding: 0;
}

.tabs-style1.nav-tabs {
    border: none;
}

.tabs-style1.nav-tabs .nav-link {
    color: #fff;
    background: #5f5f5f;
    border: none;
    font-size: 16px;
    padding: 10px 12px;
    text-align: center;
}

.tabs-style1.nav-tabs .nav-link.active {
    color: #fff;
    background: #49bbac;
}

.tabs-style1 .nav-item {
    width: 150px;
    margin-bottom: 0;
}

.tabs-style1 .nav-item+.nav-item {
    margin-left: 10px;
}

.input-field-box {
    min-height: 365px;
    margin: 0 auto 15px;
    max-width: 470px;
}

.signup-action .btn+.btn {
    margin-left: 7px;
}

.tabs_with_btn {
    position: relative;
}

.add_links.btn {
    font-size: 16px;
    padding: 6px 12px;
    font-weight: 500;
    vertical-align: top;
    min-height: 40px;
}

.global_tabs .tab-content,
.global_box {
    padding: 30px 15px;
    background: #fff;
    box-shadow: 0 4px 20px #ddd;
}

.table_filter_top {
    margin-bottom: 15px;
}

.setrecord_show label {
    color: #4c4c4c;
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px 0 0;
}

.setrecord_show select {
    max-width: 100px;
    display: inline-block;
}

.table_select_box {
    text-align: right;
}

.table_select_box .global_search_box {
    margin: 0 7px;
}

.table_filter_top .search_btn i {
    font-size: 16px;
}

.table_filter_top .form-control,
td .form-control {
    min-height: 40px;
    font-size: 13px;
}


/* ==================Login Page Style End============ */


/* =================Header=========== */

header {
    background: #f8f8f8;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

header nav.navbar {
    margin: 0;
    border: none;
    padding: 0;
    min-height: 90px;
    box-shadow: 0 0px 10px #2fa0d4;
    display: block;
}

.btn.btn-toggle {
    background: transparent;
}

.btn.btn-toggle i {
    color: #2fa0d4;
    font-size: 20px;
}

.nav-left-box {
    width: 150px;
    float: left;
    margin-top: 23px
}

.header-search-box {
    position: relative;
}

.header-search-box .form-control {
    padding-left: 30px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #c1cadd;
    font-size: 13px;
}

.header-search-box i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #c1cadd;
    font-size: 12px;
}

.nav-right-box {
    float: right;
    padding-top: 25px;
    text-align: right;
    padding-right: 15px;
}

.nav-right-list {
    margin: 23px 0 0;
}

.nav-right-list li {
    display: inline-block;
    vertical-align: middle;
}

.nav-right-list li+li {
    margin-left: 10px;
}

.nav-right-list li a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #c2cadd;
    color: #c2cadd;
    line-height: 30px;
    text-align: center;
}

.nav-right-list li a .badge {
    position: absolute;
    padding: 0;
    color: #161b1e;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -8px;
    border-radius: 50%;
    right: -9px;
}

.red-bg {
    background: #f74c57!important;
}

.green-bg {
    background: #59b200!important;
}

.gray-bg {
    background: #888!important;
}

.yellow-bg {
    background: #f5b948!important;
}

.light-blue-bg {
    background: #3dc7db!important;
}

.sky-blue-bg {
    background: #72c4ed!important;
}

.white {
    color: #fff!important;
}

.logo-box {
    float: left;
    width: 250px;
    margin: 0;
    display: block;
    font-size: 26px;
    color: #333346;
    background: #fff;
    height: 90px;
    padding: 0 10px;
    position: relative;
    transition: 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo-box .navbar-brand {
    margin: 0;
    padding: 0;
}

.head_user-box {
    margin: 0 15px;
}

.head_user-box,
.acknowledge-box,
.common_ack {
    display: inline-block;
    vertical-align: middle;
}

.common_ack+.common_ack {
    margin-left: 15px;
}

.common_ack a {
    position: relative;
    font-size: 15px;
    text-decoration: none!important;
}

.common_ack .dropdown-toggle {
    padding: 0;
}

.common_ack .dropdown-toggle:after {
    border: none;
    margin: 0;
    padding: 0;
}

.common_ack .badge {
    background: #cf2b46;
    border: none;
    width: 7px;
    height: 7px;
    color: #fff;
    border-radius: 50%;
    line-height: 17px;
    text-align: center;
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 11px;
    padding: 0;
    display: inline-block;
}

.common_ack .dropdown-menu {
    background: #fff;
    box-shadow: 0 4px 20px #ddd;
    border: none;
    border-radius: 6px;
    width: 320px;
    padding: 25px;
    left: auto;
    right: -35px;
    transform: none;
    top: 36px;
}

.common_ack .dropdown-menu:before,
.common_ack .dropdown-menu:after {
    content: "";
    position: absolute;
}

.common_ack .dropdown-menu:before {
    border-bottom: 10px solid #fff;
    top: -10px;
    right: 35px;
    z-index: 9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.common_ack .dropdown-menu:after {
    border-bottom: 12px solid #eee;
    top: -12px;
    right: 33px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.dropdown-title {
    color: #a5a5a5;
    font-size: 16px;
    margin: 0 0 15px;
}

.dropdown_list {
    margin: 0;
}

.dropdown_list li+li {
    margin-top: 15px;
}

.dropdown_list h6 {
    margin: 0 0 7px;
    font-size: 12px;
    color: #d52c48;
    line-height: 1;
}

.dropdown_list p {
    margin: 0;
    color: #707070;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
}

.full_view_btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 20px;
}

.head_user_name {
    color: #707070;
    font-size: 11px;
    text-align: right;
    font-weight: 500;
}

.head_user_name span {
    display: inline-block;
    vertical-align: middle;
}

.user_name {
    /* text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:calc(100% - 128px); */
    margin: 0 7px;
}

.top-user-img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.top-user-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.welcome {
    width: 65px;
}

.dropdown-menu.head-drop-down {
    right: 0px;
    left: auto;
    width: 190px;
    padding: 0 10px;
    border-radius: 4px;
    top: 46px;
}

.dropdown-menu.head-drop-down.show:before,
.dropdown-menu.head-drop-down.show:after {
    content: "";
    position: absolute;
}

.dropdown-menu.head-drop-down.show::before {
    border-bottom: 10px solid #fff;
    top: -10px;
    right: 5px;
    z-index: 9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.dropdown-menu.head-drop-down.show::after {
    border-bottom: 12px solid #ddd;
    top: -12px;
    right: 3px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.dropdown-menu.head-drop-down a {
    padding: 10px;
    background: #fff;
    font-size: 11px;
    color: #707070;
}

.dropdown-menu.head-drop-down a:hover,
.dropdown-menu.head-drop-down a:focus {
    background: #fff;
}

.dropdown-menu.head-drop-down a+a {
    border-top: 1px solid #d1cece;
}

.middle-content {
    padding-top: 90px;
}

.toggle-wrapper .logo-box {
    transition: 0.5s;
}

.toggle-wrapper .logo-box .navbar-brand {
    transition: 0.5s;
    padding: 0;
}

header,
aside.sidebar,
.toggle-wrapper .middle-content,
.toggle-wrapper .header,
.middle-content,
.toggle-wrapper footer {
    transition: 0.5s;
}

aside.sidebar {
    left: 0;
    top: 90px;
    position: fixed;
    width: 250px;
    z-index: 10;
    height: calc(100vh - 65px);
    background: #223f66;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.sidebar-logo {
    display: block;
    background: #4578b2;
    margin: 0 0 10px;
    width: 250px;
    padding: 15px;
    min-height: 80px;
}

.sidebar-menu {
    /*  overflow-y: auto; height:calc(100vh - 90px);  */
    margin: 0;
    padding: 0px;
}

.toggle-wrapper aside {
    transition: 0.5s;
}


/*.menu-box {border-bottom: 1px solid #5db94c;}*/

.menu-box.active,
.menu-box:hover,
.menu-box:focus {
    background: #1e6f95;
}

.menu-box .card-header {
    border: none;
    border-radius: 0;
    position: relative;
    padding: 0px;
}

.menu-box .card-header,
.inner-submenu li a {
    background: transparent;
}

.menu-box i {
    color: #fff;
}

.menu-box.active .side_menu,
.inner-submenu li.active a {
    color: #000;
}

.sidebar-menu .card-header .btn-link {
    position: relative;
    padding: 0;
    width: 25px;
    height: 20px;
    float: right;
}

.sidebar-menu .card-header .btn-link:before {
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-weight: 600;
    color: #fff;
    right: 0;
    top: 0;
}

.sidebar-menu .card-header .btn-link[aria-expanded="false"]:before {
    content: "\f054";
}

.sidebar-menu .card-header .btn-link[aria-expanded="true"]:before {
    content: "\f078";
}

.side_menu {
    display: block;
    padding: 15px 10px 15px 45px;
    text-decoration: none!important;
    color: #fff;
    font-size: 15px;
    font-family: 'Gill Sans MT Pro';
    position: relative;
    min-height: 55px;
}

.side_menu span {
    font-size: 16px;
    font-weight: 300;
}

.side_menu:hover,
.side_menu:focus {
    color: #fff;
}

.side_menu_icon {
    width: 24px;
    position: absolute;
    left: 15px;
    top: 17px;
}

.side_menu span {
    display: inline-block;
    vertical-align: middle;
}

.menu-box .card-body {
    padding: 0;
}

.inner-submenu {
    margin: 0;
    background: transparent;
}

.inner-submenu li a {
    display: block;
    padding: 13px 10px 13px 40px;
    color: #fff;
    text-decoration: none!important;
    font-family: 'Gill Sans MT Pro';
    font-size: 16px;
}

.inner-submenu li i {
    margin-right: 7px;
}

.sidebar-scroller {
    position: relative;
}

.scroll-section {
    min-height: calc(100vh - 112px);
    overflow-y: auto;
    height: 100%;
}

.content-section {
    padding: 25px 20px 20px 20px;
    min-height: calc(100vh - 144px);
    /*margin-bottom: 15px;*/
}

.custom-container {
    padding: 0 30px;
    max-width: 1020px;
}

.table_action_box {
    text-align: right;
    margin-bottom: 15px;
}


/* ===============Dashboard=============== */

.form-control.datepicker {
    background-image: url("../img/cal-icon.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 15px auto;
    font-size: 14px;
    padding: .375rem .75rem;
    height: calc(2.25rem + 2px);
    border-color: #ddd;
    border-radius: 2px;
}

.sno-cell {
    width: 70px;
    text-align: center;
}

.global-table {
    padding: 0px;
    border-radius: 0px
}

.global-table table {
    background: transparent;
    margin-bottom: 0px;
}


/*.global-table table thead tr th{border-bottom:none;background:#e1e1e1;}*/

.global-table table thead tr th,
.global-table table tbody tr td {
    font-size: 14px;
    vertical-align: middle;
    color: #4c4c4c;
    border-top: 1px solid #ddd;
}

td.action_td_btn3 {
    white-space: nowrap;
}


/* .global-table table tbody tr:nth-child(2n) td{background:#e6e6e6;} */

.action_td_btn {
    width: 237px;
}

table.plant_table {
    width: 2400px;
}

table.plant_table thead tr th+th,
table.plant_table tbody tr td+td {
    text-align: center;
}

.action_td_btn3 {
    width: 333px;
}

.bottom_show_record select {
    width: 70px;
    border-radius: 25px;
    background-color: #dfdfeb!important;
    display: inline-block;
    margin-right: 10px;
    padding: 6px 12px;
}

.pagination_block {
    display: inline-block;
    float: right;
}

.pagination_block .pagination {
    margin: 6px 0 0;
    display: block;
    text-align: right;
}

.pagination_block .pagination li {
    display: inline-block;
}

.pagination_block .page-link {
    color: #6f7072;
    font-family: arial;
    font-size: 14px;
    background: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: none!important;
}

.pagination_block .page-item.active .page-link {
    background: #e0e2e6;
    color: #6f7072;
}


/* ================Farm=========== */

.select_action .dropdown-toggle {
    background: #fff;
    border-color: #ddd;
    min-width: 120px;
    position: relative;
    padding: 6px 20px 6px 12px;
    text-align: left;
}

.select_action .dropdown-toggle:after {
    border-width: 7px;
    position: absolute;
    right: 5px;
    top: 15px;
}

.select_action .dropdown-toggle:before {
    content: "";
    position: absolute;
    right: 24px;
    top: 4px;
    background: #ddd;
    width: 1px;
    height: 30px;
}

.select_action .dropdown-menu {
    padding: 0;
    width: 120px;
    min-width: auto
}

.select_action .dropdown-menu a {
    padding: 5px;
    font-size: 14px;
}

.add-user-filter-list {
    margin: 0 -15px;
}

.add-user-filter-list li {
    width: 20%;
    float: left;
    padding: 0 15px;
}

.add-user-filter-list li .form-group {
    margin: 0;
}

.add-user-filter {
    padding: 10px;
    border: 1px solid #c1c1c1;
    margin-bottom: 15px;
    ;
}

.filter-title {
    margin: 0 0 10px;
    font-size: 20px;
    color: #2e5178;
    font-weight: 600;
}

.search-box {
    position: relative;
}

.search-box .form-control {
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 8px;
    border-color: #cdcdcd;
}

.search-box .search-icon,
.filter-btn {
    position: absolute;
}

.search-box .search-icon {
    color: #ddd;
    top: 16px;
    left: 10px;
}

.filter-btn {
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    width: 40px;
    height: 100%;
    color: #919091;
    padding: 0 6px;
}

.export-filter-box {
    padding-left: 15px;
    margin-bottom: 15px;
}

.page_title_block {
    padding: 18px 30px;
}

.page_title {
    color: #2e9fd3;
    font-family: 'Gill Sans MT Pro';
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
}

.page_title2 {
    margin: 0;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600;
    /*text-shadow: 0px 0px 0.1px rgba(74, 74, 74,0.3);*/
}

.global_search_box {
    position: relative;
}

.global_search_box .form-control {
    color: #c1cadd;
    font-size: 14px;
    min-height: 40px;
    border-color: #d7d7d7;
    border-radius: 4px;
}


/*.global_search_box .form-control:-moz-placeholder{color: #c1cadd;}
.global_search_box .form-control::-moz-placeholder{color: #c1cadd;}
.global_search_box .form-control::-webkit-input-placeholder{color: #c1cadd;}*/

.search_btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    height: 100%;
}

.search_btn i {
    color: #7f7f7f;
    font-size: 20px;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    min-height: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 20px #ddd;
}

.profile-box-field {
    padding: 1px 15px;
}

.form-box label {
    color: #4c4c4c;
    font-size: 13px;
    font-weight: 600;
    padding-top: 7px;
}

.form-box label.radio-design {
    margin-top: 7px;
}

.form-box .form-control {
    height: 40px;
    min-height: 40px;
    border-radius: 0;
    font-size: 13px;
}

.form-box textarea.form-control {
    min-height: 100px;
    height: 100px;
}

.field_output {
    color: #333346;
    padding: 6px 0;
    font-size: 13px;
}

.center-box {
    margin: 0 auto;
}

.edit-profile .form-control {
    color: #2d5178;
    border-radius: 8px;
}

.edit-profile .profile-box-field {
    border: none;
}

.browse_btn {
    position: relative;
    overflow: hidden;
}

.browse_btn input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    left: 0;
    top: 0;
}

.filename {
    padding: 6px 12px;
}

.table_title {
    font-size: 22px;
    color: #333346;
    font-family: 'Gill Sans MT Pro';
    margin: 0 0 15px;
}

.view_box {
    margin: 0 auto 15px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ddd;
}

.view_box_height {
    min-height: 445px;
}

.view_box_head {
    padding: 0 0 10px;
    color: #4c4c4c;
    font-size: 22px;
    font-family: 'Gill Sans MT Condensed';
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    text-align: center;
    margin-right: -10px;
    margin-left: -10px;
}

.view_box_image {
    margin-bottom: 15px;
}

.view_box_image img {
    width: 100%;
}

.view_list {
    margin: 0;
}

.view_list li:after,
.view_list li:before {
    content: "";
    clear: both;
    height: 100%;
    display: block;
}

.view_list li span,
.view_list li strong {
    width: 50%;
    float: left;
    margin-bottom: 7px;
    font-size: 13px;
}

.view_list li strong {
    font-weight: 600;
}


/* ===========Dashboard=========== */


/*.graph_box ,.map_box{box-shadow: 0 4px 20px #ddd;}*/

.graph_box,
.map_box {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: #fff;
}

.graph_header {
    border: 1px solid red;
}

.graph_box img {
    width: 100%;
}

.sec_head h2 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 600;
}

.sec_head h2 img {
    margin-right: 10px;
}

.sec_head h2 span,
.sec_head img {
    display: inline-block;
    vertical-align: middle;
}

.trade_box.complete_trade_box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.trade_box {
    padding: 15px;
    text-align: center;
    position: relative;
}

.trade_box+.trade_box {
    margin-top: 15px;
}

.trade_box h4 {
    font-size: 14px;
    color: #fff;
    margin: 0 0 5px;
    line-height: 1;
    font-weight: 600;
}

.trade_box h3 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    line-height: 1;
    font-weight: 600;
}

.bg-green {
    background-color: #34b397!important;
}

.bg-red {
    background-color: #dd7880!important;
}

.bg-blue {
    background-color: #579bd4!important;
}

.bg-purple {
    background-color: #6874de!important;
}

.trade_option {
    margin: 23px 0 20px;
    background: #2f9f86;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
}

.trade_option label.radio-design {
    margin: 0;
    font-size: 11px;
    color: #fff;
    padding-top: 3px!important;
    padding-left: 14px;
}

.trade_option label.radio-design+label.radio-design {
    margin-left: 4px;
}

.trade_option label.radio-design input[type="radio"]~span:before {
    left: 0.9px;
    top: 1px;
    width: 7px;
    height: 7px;
}

.ad_trade_box label.radio-design input[type="radio"]~span:before {
    background: #5361d9;
}

.trade_option label.radio-design input[type="radio"]~span {
    width: 10px;
    height: 10px;
}

.map_box {
    padding: 20px;
    background: #fff;
}

.box_title {
    font-size: 14px;
    color: #34393f;
    margin: 0 0 20px;
    font-weight: 600;
}

.map_box iframe {
    height: 456px;
    width: 100%;
}

.ad_trade_box.trade_box {
    text-align: left;
    padding: 30px 20px;
    background-image: url("../img/active-ad.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(100% - 33px) center;
}

.ad_trade_box .trade_option {
    background: #5361d9;
}

.ad_trade_box h3 {
    position: absolute;
    right: 15px;
    top: 34px;
}

.total_wallet {
    background-color: #e54c73;
    background-image: url("../img/total-wallet-bg.png");
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: left bottom;
}

.total_wallet .row {
    height: 198px;
}

.finance_box img {
    height: 228px;
    max-width: 100%;
}


/*.payment-box1 img{height:296px;}
.payment-box2 img{height: 367px;}*/

.filter_box {
    padding: 15px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
    text-align: center;
}

.filter_box,
.page-action_btn {
    margin-bottom: 25px;
}

.filter_title {
    color: #34393f;
    font-size: 12px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    text-align: left;
    text-shadow: 0px 0px 0.1px rgba(74, 74, 74, 0.3);
}

.filter_search {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    margin-right: 20px;
}

.btn_search_group {
    border: 1px solid #ccc;
    background: #fff;
    padding: .400rem .90rem;
}

.btn_search_group img {
    width: 16px;
    height: auto;
}

.filter_select {
    display: inline-block;
    min-width: 150px;
}

.filter_select.filter_select_large {
    min-width: 170px;
}

.filter_select+.filter_select {
    margin-left: 10px;
}

.filter_select label {
    margin: 0;
}

.page-action_btn {
    text-align: right;
}

.page-action_btn .btn+.btn {
    margin-left: 10px;
}

.show_record {
    width: 80px;
    display: inline-block;
    margin: 0 7px;
    vertical-align: middle;
    position: relative;
}

.show_record .form-control {
    font-size: 14px;
    padding-right: 25px;
}

.show_record input[type=number]::-webkit-inner-spin-button,
.show_record input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.show_record input[type='number'] {
    -moz-appearance: textfield;
}

.show_record i {
    position: absolute;
    right: 2px;
    width: 20px;
    height: 48%;
    background: #fff;
    z-index: 9;
    cursor: pointer;
}

.inc-btn {
    top: 2px;
}

.dec-btn {
    bottom: 1px;
}

.tag_status {
    padding: 3px 6px;
    min-width: 65px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #fff!important;
    font-size: 12px;
}

.tag_status+.tag_status {
    margin-left: 3px;
}

.btn-adduser {
    font-size: 24px;
    width: 90px;
    padding: 3px 0px;
}

.btn-active {
    background: #009e0f;
    width: 90px;
    padding: 3px 8px 2px 8px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 100;
}

.btn-inactive {
    background: #cf1f1d;
    width: 90px;
    padding: 3px 8px 2px 8px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 100;
}

.btn-submited {
    background: #ff9900;
    color: #313131;
    width: 90px;
    padding: 3px 8px 2px 8px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 100;
}

.login-wrapper {
    width: 100%;
    height: calc(100vh - 106px);
    ;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 5em;
    background-color: #fff;
    background-image: url(../img/login-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.login-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 193px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
}

.login-logo img {
    width: 100%;
    height: auto;
}

.remember-text {
    padding: 0px 15px;
}

.google2FA-label {
    color: #a4a4a4;
    font-size: 16px;
}

.validate-style1 {
    position: relative;
}

.validate-style1.has-error .form-control {
    border-color: #e93e2c;
}

.validate-style1 .error {
    padding: 6px 12px;
    color: #fff;
    background: #e93e2c;
    font-size: 13px;
    border-radius: 4px;
    position: absolute;
    left: calc(100% + 15px);
    display: inline-block;
    width: auto;
    top: 8px;
    white-space: nowrap;
}

.validate-style1 .error:before {
    content: "";
    position: absolute;
    left: -9px;
    top: 6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e93e2c;
}

.btn-noYes {
    font-weight: 100;
    font-size: 14px;
    width: 110px;
    padding: 10px 0px;
    border-radius: 2px;
}

.btn-noYes:hover {
    color: #fff;
    opacity: 0.8;
}

.tabTable-filter {
    padding: 10px 15px;
}

.tabBox .tab-content,
.global_box {
    display: block;
    width: 100%;
    height: auto;
}

.global-navTabs.nav-tabs {
    border-bottom: 2px solid #223f66;
    padding: 0px 10px;
}

.global-navTabs.nav-tabs .nav-link.active {
    color: #fff;
    background: #223f66;
}

.global-navTabs.nav-tabs .nav-link {
    color: #213f66;
    background: #a9c1e2;
    border-radius: 2px 2px 0px 0px;
    border: none;
    font-size: 14px;
    padding: 10px 12px 8px 12px;
    text-align: center;
}

.global-navTabs .nav-item {
    width: 150px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.collected {
    margin-bottom: 0px;
    color: #33393f;
}

.content-box {
    padding: 15px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
    background: #fff;
    text-align: center;
    margin-bottom: 0px!important;
}

.content-box,
.page-action_btn {
    margin-bottom: 25px;
}

.content-box-title {
    color: #34393f;
    font-size: 12px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    text-align: left;
    text-shadow: 0px 0px 0.1px rgba(74, 74, 74, 0.3);
}

.administrator-box {
    padding: 50px 0px 0px 100px;
}

.main-form {
    display: block;
}

.main-form .form-group {
    margin-bottom: 10px;
}

.main-form .select-dropdown input.form-control {
    height: 38px;
    border-radius: 0px;
    border: 1px solid #d8d8d8;
    color: #454545;
}

.main-form .input-wrapper {
    position: relative;
}

.main-form .input-wrapper i {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #d8d8d8;
    font-size: 22px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.main-form .input-wrapper input.form-control {
    padding-left: 45px;
}

.main-form input.form-control {
    height: 44px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #818181;
    font-size: 14px;
}

.main-form select.form-control.down-arrow {
    background-image: url("../img/down_arrow.png");
    background-size: 13px auto;
    font-size: 14px;
    border: 1px solid #d8d8d8;
    height: 44px;
    border-radius: 4px;
}

.main-form select.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #d8d8d8;
}

.main-form .custome-label {
    margin-bottom: 0px;
    color: #818181;
    font-size: 14px;
    text-shadow: 0px 0px 0.1px rgba(129, 129, 129, 0.3);
}

.main-form .forgotPass {
    color: #828282;
    font-size: 14px;
    padding: 0 .75rem;
}

.main-form input.form-control::-webkit-input-placeholder {
    color: #828282;
}

.main-form input.form-control::-moz-placeholder {
    color: #828282;
}

.main-form input.form-control:-ms-input-placeholder {
    color: #828282;
}

.main-form input.form-control:-moz-placeholder {
    color: #828282;
}

.main-form textarea.form-control {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #818181;
    resize: none;
    font-size: 14px;
}

.main-form textarea.form-control::-webkit-input-placeholder {
    color: #828282;
}

.main-form textarea.form-control::-moz-placeholder {
    color: #828282;
}

.main-form textarea.form-control:-ms-input-placeholder {
    color: #828282;
}

.main-form textarea.form-control:-moz-placeholder {
    color: #828282;
}

.btn-common {
    font-weight: 100;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 2px;
}

.btn-common:hover {
    color: #fff;
    opacity: 0.8;
}

.access-list-group {
    margin-top: 30px;
}

.access-list {
    text-align: left;
}

.access-list .checkbox-design {
    font-size: 13px;
    text-align: left;
    width: 100%;
}

.access-list label.checkbox-design input[type="checkbox"]~span {
    box-shadow: none;
    top: 0px;
}

.access-list .checkbox-head {
    font-weight: 600;
}

.access-list .access-child {
    padding-left: 25px;
}

.border-right {
    border-right: 1px solid #d8d8d8;
}

.google-authantic-box {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.google-auth-head {
    font-weight: 600;
    font-size: 14px;
    margin: 40px 0px;
}

.qrBox {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 40px auto;
}

.qrBox img {
    width: 100%;
    height: auto;
}

.top-action-box {
    float: right;
    width: auto;
    position: relative;
    top: 20px;
}

.btn-top-action {
    font-size: 14px;
    font-weight: 100;
    border-radius: 2px;
    padding: 2px 12px;
}

.btn-top-action:hover {
    opacity: 0.8;
    color: #fff;
}

.middle-box {
    text-align: left;
    padding: 20px 50px;
}

.detail-list-group .list-group-item {
    border: none;
    padding: 6px 0px;
}

.detail-list-group .list-group-item label.header {
    width: 120px;
    color: #33393f;
    font-weight: 600;
    margin-bottom: 0px;
}

.detail-list-group .list-group-item label.description {
    color: #33393f;
    margin-bottom: 0px;
}

.access-list .checkbox-common {
    display: block;
    color: #33393f;
}

.btn-enable {
    color: #00b200;
    background: transparent;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 3px 10px;
}

.btn-enable:hover {
    color: #00b200;
    background: transparent;
    border: 1px solid #00b200
}

.btn-change {
    font-weight: 500;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 2px;
}

.table-tittle {
    font-size: 14px;
    font-weight: 600;
    color: #33393f;
}

span.ip-box {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    text-align: right;
}

.btn-csv {
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    background: #a2a2a2;
    padding: 3px 12px;
}

.btn-csv:hover {
    opacity: 0.8;
}

.detail-label {
    color: #33393f;
    margin: 0px;
}

.circle-green {
    color: #009e0f;
    font-size: 10px;
    margin-left: 10px;
}

.circle-red {
    color: #cf1f1d;
}

.user-detail-box {
    text-align: left;
    padding: 0px 15px;
}

.user-detail {
    margin-bottom: 0px;
    color: #33393f;
    font-size: 13px;
    margin-bottom: 5px;
}

.user-detail:first-child {
    text-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.8);
}

.middle-chatbox {
    text-align: left;
    padding: 0px 30px;
}

.chat-block {
    display: block;
    width: 100%;
    border-radius: 6px;
    background: #e8e8e8;
    padding: 15px;
}

.chatbox {
    display: block;
    padding: 10px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
}

.chatList {
    display: block;
    width: calc(100% - 50px);
    padding: 6px 12px;
    border-radius: 4px;
    background: #fff;
    margin-left: 50px;
}

.chatList+.chatList {
    margin-top: 10px;
}

.chatList.other {
    background: #b1cbe2;
    margin-left: 0px;
}

.chatList p {
    margin: 0px;
    color: #33393f;
    font-size: 13px;
}

.chatList small {
    margin: 0px;
    color: #33393f;
    font-size: 12px;
    font-style: italic;
}

hr.hrChat {
    border-top: 1px solid #a3a3a3;
}

label.checkbox-chat {
    color: #33393f;
    text-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
}

label.checkbox-chat input[type="checkbox"]~span {
    top: 1px;
}

.chat-inputBox {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.chat-input-group input.form-control {
    height: 44px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    color: #818181;
    font-size: 14px;
}

.chat-input-group>.form-control:not(:last-child) {
    border-radius: 4px;
}

.chat-input-group input.form-control:-moz-placeholder {
    color: #a3a3a3;
}

.chat-input-group input.form-control::-moz-placeholder {
    color: #a3a3a3;
}

.chat-input-group input.form-control:-ms-placeholder {
    color: #a3a3a3;
}

.chat-input-group input.form-control::-webkit-input-placeholder {
    color: #a3a3a3;
}

.chat-input-group .input-group-append {
    margin-left: 10px;
}

.chat-input-group .btn-sendchat {
    border-radius: 4px;
    background: #2e5589;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    padding: 6px 30px;
}

.chat-input-group>.input-group-append>.btn {
    border-radius: 4px;
}

.detail-list-group.disputed {
    margin-top: 40px;
}

.detail-list-group.disputed .list-group-item label.header {
    width: 40%;
}


/* ===============Footer=========== */

footer {
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    text-align: left;
    transition: 0.5s;
}

footer p {
    margin: 0px
}


/* ===============Amit(27-04-2018)=========== */

.config-label {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
}

.table-add-box {
    padding-left: 8px;
    margin-bottom: 25px;
}

.support-text {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    min-height: 500px;
    justify-content: center;
}

.block-support {
    height: 100%;
}


/*********part-2***********/

.document-detail-box .detail-list-group .list-group-item label.header {
    width: 150px;
}

.id-cards-img {
    display: inline-block;
    margin: 0 0 20px;
}

.id-cards-img img {
    width: 100%;
}

.text-grey {
    color: #bcbcbc;
    font-weight: bold;
}

.id-cards-img span {
    display: block;
    text-align: center;
    margin: 10px 0 0;
}

.document-detail-box .detail-list-group .list-group-item label.description {
    width: 110px;
}

.datepicker-img {
    background-image: url(../img/icon-calendar.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    background-size: 16px auto;
}

.detail-content-wrap {
    margin: 0 auto;
    max-width: 430px;
}

.detail-content-wrap .detail-list-group .list-group-item label.header {
    width: 320px;
}

.detail-content-wrap .detail-list-group .list-group-item label.description {
    width: calc(100% - 324px);
}

.document-detail-box .detail-list-group .list-group-item label {
    vertical-align: top;
}

.lbc-detail-box .detail-list-group .list-group-item label.header {
    width: 230px;
}

.lbc-detail-box .detail-list-group .list-group-item label.description {
    width: 110px;
}

.btn-light.btn-icon {
    background: #fff;
    color: black;
    border: none;
}


/*********modal************/

.common-modal .modal-content {
    padding: 20px;
    border-radius: 8px;
}

.common-modal .modal-title {
    font-size: 17px;
    color: #4a4a4a;
    font-weight: 600;
}

.common-modal .modal-header {
    border-bottom: 1px solid #4a4a4a;
}

p.modal-para {
    color: #33393f;
    font-size: 15px;
    margin: 0 0 0;
}

.common-modal .modal_flax_height {
    min-height: 250px;
}

.placeholder-txt {
    text-align: center;
    font-size: 14px;
}

.textarea-height {
    min-height: 80px;
}

.custome-label.modal-label {
    color: #000;
}

.display-block label {
    display: block;
}

.common-modal .modal_flax_height2 {
    min-height: 180px;
}


/****************************/


/* ===============End=========== */


/**********Amit(Groceries)*********/


/*.sidebar-scroller {
    background: #C94CC4;
}*/

aside.sidebar {
    background: #2fa0d4;
}

.common_ack a {
    padding: 4px 3px 5px 6px!important;
    text-align: center
}

.common_ack .badge.red {
    background-color: #ee6b7b;
}

.imgheight {
    height: 420px;
}

.sec_head {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sec_head h2 {
    color: #5b5b5b;
    font-size: 15px;
    min-height: 54px;
}

.main-heading h1 {
    color: #000;
    font-size: 18px;
}

.main-heading {
    display: inline-block;
}


/*************(01-05-2018)****************/

.main-heading {
    display: inline-block;
    padding-left: 20px;
    padding-top: 21px;
    height: 65px;
    vertical-align: middle;
}

.btn.btn-toggle {
    display: none;
}


/*.header-right-part{background: #f3f3f3;padding-left: 250px;}*/

.nav-right-box {
    padding-right: 34px;
}

.content-section {
    padding: 0px 35px 20px 35px;
}


/*.toggle-wrapper .btn.btn-toggle{position: absolute;top: 0;left: ;right: auto;left: 50px;
    transition: 0.5s;}
.toggle-wrapper .header-right-part {padding-left: 100px;}*/

.header-right-part {
    padding-top: 17px;
}

.aside-footer {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #660099;
}

.aside-footer .copyright {
    padding-left: 0;
    color: #fff;
    margin: 0;
    font-size: 12px;
}

.side_menu_icon {
    width: 21px;
    top: 14px;
}

.filter-img {
    float: right;
    padding-left: 20px;
    border-left: 1px solid #777;
    height: 48px;
}

.filter-img img {
    padding-top: 15px;
}

.yellow-bg {
    background: #ffbf00!important;
}

.blue-bg {
    background: #2693ff!important;
}

.global-table table thead tr th,
.global-table table tbody tr td {
    color: #000;
    border-top: 1px solid #660099;
    border: 1px solid #ddd;
}

.table-search {
    padding: 20px 20px 10px;
    margin-bottom: 0;
    background: #fff;
}

.global-table .table-bordered td,
.global-table .table-bordered th {
    border: 1px solid #ccc;
}

.global-table .table-bordered th {
    color: #2e9fd3;
}

.filter_search .form-control {
    border: 1px solid #ccc;
    background: #fff;
}

.filter_search .btn_search_group {
    border-left: none;
    background: #fff;
}

.filter_search {
    max-width: 340px;
}

.btn.btn-add {
    background-color: #660099;
    font-size: 14px;
    font-weight: bold;
    min-width: 130px;
    border: 2px solid #d34de2!important;
    color: #fff!important;
}

.pull-right {
    float: right;
}

.custom-pagination ul.pagination {
    display: inline-flex;
}

.custom-pagination .page-link:hover {
    color: #fff;
    background-color: #2fa0d4;
    border-color: #2fa0d4;
}

.filter_search_group .form-control:focus {
    border-right: none!important;
    border: 1px solid #ccc;
    box-shadow: none;
}

.page-link:focus {
    box-shadow: none!important;
}


/*******************************************/

.tag_status {
    padding: 4px 6px;
    min-width: 90px;
}

.snwidth {
    width: 60px;
}

.global-table label.checkbox-design {
    margin-right: 0;
}

.global-table label.checkbox-design input[type="checkbox"]~span {
    top: -5px;
    width: 15px;
    height: 15px;
}

.global-table label.checkbox-design input[type="checkbox"]~span:before {
    left: 4px;
    top: 1px;
}

.menu-box.active .side_menu span {
    font-weight: 400;
}

.table-search .filter_select {
    min-width: 340px;
}

.filter_select .form-control {
    background-color: #f2f4f8;
    border-color: #ddd;
}

.datepicker-wrap {
    position: relative;
    padding-left: 40px;
    display: inline-block;
}

.datepicker-wrap span {
    position: absolute;
    top: 8px;
    left: 0;
}

.datepicker-wrap .filter_select {
    min-width: auto;
}

.datepicker-wrap.to {
    padding-left: 25px;
}

.tab-section .nav {
    margin: 0 0 20px;
}

.tab-section .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #79c567;
}

.tab-section .nav-pills .nav-link {
    background-color: #ecf1d1;
}

.tab-section .nav-pills .nav-link {
    border-radius: 0px;
}

.tab-section .nav-link {
    padding: 0.8rem 1rem;
}

.tab-section .nav-justified .nav-item {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.tab-section .nav-justified .nav-item:last-child {
    border-right: none;
}

.tab-section .nav-justified .nav-item:first-child {
    border-left: none;
}

.account-box {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dashboard-main-box {
    margin: 20px auto 30px;
    max-width: 860px;
    text-align: center;
}

.account-box h5 {
    color: #6b6b6b;
    font-weight: normal;
    font-size: 17px;
    margin: 0;
}

.account-box p {
    margin: 0;
    font-size: 28px;
    font-family: Gill Sans MT Pro;
    color: #464646;
    font-weight: bold;
}

.account-box {
    padding: 26px 0;
}

.table-search.table-search-order .filter_select {
    min-width: 186px;
}

.table-search-order .filter_search {
    max-width: 300px;
}

.orderwidth {
    width: 86px;
}

.menu-box .side_menu span {
    font-weight: 400;
}

.menu-box.active .side_menu,
.menu-box:hover .side_menu,
.menu-box:focus .side_menu {
    color: #fff;
}

.toggle-wrapper .aside-footer {
    display: none;
}

.logo-box .navbar-brand {
    display: inline-block;
}

.sm-logo {
    display: none;
}

.toggle-wrapper .sm-logo {
    /* display: block; */
}

.toggle-wrapper .lg-logo {
    /* display: none; */
}

.toggle-wrapper .logo-box .navbar-brand {
    /* width:50px; */
}


/*profile-icon*/

.user-panel {
    padding: 20px 10px;
    /*background:#C94CC4;*/
    border-top: 1px solid #ccc;
}

.user-panel .image {
    position: relative;
    width: 60px;
    height: 60px;
}

.user-panel .image img {
    width: 100%;
    height: 100%;
}

.pull-left {
    float: left!important;
}

.user-panel>.info {
    padding: 5px 5px 5px 10px;
    line-height: 1;
    width: calc(100% - 60px);
}

.user-panel>.info>p {
    font-weight: 500;
    margin-bottom: 9px;
    color: #fff;
    margin: 0 0 4px;
}

.online-icon {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 16px;
    right: -1px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-weight: 600;
}

.user-panel .info h4 {
    color: #fff;
    font-size: 14px;
    margin: 0 0 4px;
    font-weight: 600;
}

.user-panel .info h5 {
    font-size: 14px;
    margin: 0 0 4px;
    color: #fff;
    font-size: 13px;
    word-break: break-all;
}

.toggle-wrapper .user-panel>.info {
    display: none;
}

.toggle-wrapper .online-icon {
    font-size: 9px;
    height: 13px;
    width: 13px;
    line-height: 12px;
}

.toggle-wrapper .user-panel .image {
    width: 35px;
    height: 35px
}


/************************************************/

.label-input {
    position: relative;
    padding-left: 82px;
}

.label-input label {
    position: absolute;
    left: 0;
    top: 12px;
}

.action_td_btn3 a {
    padding: 8px;
}

.custom-pagination a.page-link {
    color: #000;
}

.input-icon {
    position: relative;
    padding-right: 34px;
}

.input-icon i {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 20px;
}

.radio-label label {
    min-width: 80px;
}

h5.table-heading {
    color: #000;
    font-size: 17px;
}

.input-style .form-control2 {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    border-radius: 0!important;
    padding-left: 0;
    padding-right: 0;
}

.user-image {
    height: 100%;
}

.table-search.table-top .filter_select {
    min-width: 100%;
}

.table-top .filter_select .form-control {
    background-color: #fff;
    border-color: #ccc;
}

table {
    min-width: 1050px;
}

.mrgn-0-auto {
    margin: 0 auto;
}

.pro-image img {
    border-radius: 50%;
    width: 100%;
}

.pro-image {
    max-width: 200px;
}

.global-fieldset legend {
    font-size: 16px;
    margin-bottom: 0px;
    border-radius: 4px;
    padding: 0px 8px;
    display: inline-block;
    color: #000;
    width: auto;
    border: none;
}

fieldset.global-fieldset {
    border: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    padding-left: 10px;
}

.areatext.form-control2 {
    height: 150px;
    resize: none;
}

.btn.btn-grey.cancel {
    min-width: 130px;
    font-size: 14px!important;
}

.fieldset-content {
    padding: 0 10px;
}

.fieldset-box {
    padding: 20px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 3px;
}

.star-rating a {
    display: inline-block;
    font-size: 15px;
}

.user-name {
    font-size: 16px;
    color: #000;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 60%;
    height: 30px;
    background-color: #ef7eea;
}

#myBar1 {
    width: 50%;
    height: 30px;
    background-color: #ef7eea;
}

.video_play_box {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-js video.vjs-tech {
    height: 500px;
}

.video_play_box video {
    width: 100%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
}

.text {
    font-size: 15px;
    color: #252424;
}

.action_td_btn3 a:hover {
    text-decoration: none;
}

.fa.fa-eye {
    color: #2693ff;
}

.fa.fa-ban,
.fa.fa-trash {
    color: #ee6b7b;
}

.order-summary-block {
    border: 1px solid #ccc;
}

.order-summary-block h5 {
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 18px;
}

.order-content {
    padding: 10px 20px;
}


/* pradeep's style */

ul {
    padding: 0;
    list-style: none;
}

.dash_list li {
    width: 23.5%;
    padding: 15px;
    border: 1px solid rgba(29, 151, 203, 1);
    margin: 10px 0;
    border-radius: 5px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(155, 204, 203, 1) 0%, rgba(29, 151, 203, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(155, 204, 203, 1)), color-stop(100%, rgba(29, 151, 203, 1)));
    /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(155, 204, 203, 1) 0%, rgba(29, 151, 203, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(155, 204, 203, 1) 0%, rgba(29, 151, 203, 1) 100%);
    /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(155, 204, 203, 1) 0%, rgba(29, 151, 203, 1) 100%);
    /* ie10+ */
    background: radial-gradient(ellipse at center, rgba(155, 204, 203, 1) 0%, rgba(29, 151, 203, 1) 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9BCCCB', endColorstr='#1d97cb', GradientType=1);
    /* ie6*/
}

.dash_list li h3 {
    font-size: 1.2rem;
}

.dash_list li h4 {
    font-size: 1rem;
}

.dash_icon {
    font-size: 2.8rem;
}

.dash_list li * {
    color: #fff;
}

input.datepicker {
    padding-right: 35px;
    background-image: url(../img/icon-calendar.png)!important;
    background-repeat: no-repeat!important;
    background-position: calc(100% - 10px) 50%!important;
    background-size: 16px auto;
}

select.form-control.select_opt {
    background-image: url(../img/down_arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;
    background-size: 13px auto;
    padding-right: 20px;
    box-shadow: none;
    min-width: 110px;
}

.head_flt_select {
    margin-right: 10px;
    margin-bottom: 10px;
}

.no-radius {
    border-radius: 0!important;
}

.no_wrap_th th {
    white-space: nowrap;
}

.global-table .btn {
    font-size: 13px;
}


/* toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin: 0 5px;
}

.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* end toggle switch */


/* radio button */


/* The radio_style */

.radio_style {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
}


/* Hide the browser's default radio button */

.radio_style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radio_style:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.radio_style input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio_style input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio_style .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}


/* end radio button*/

.global-modal .inner_border_area .close:after,
.global-modal .inner_border_area .close:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #616161;
    left: 0;
    right: 0;
}

.global-modal .inner_border_area .close:after {
    transform: rotate(45deg);
}

.global-modal .inner_border_area .close:before {
    transform: rotate(-45deg);
}

.global-modal .inner_border_area .close {
    top: -9px;
    right: -12px;
    z-index: 999;
    font-size: 0;
    width: 25px;
    position: absolute;
    height: 25px;
}

.info * {
    color: #fff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: none;
}

.info a p {
    margin: 0 0 5px;
}


/********custom_tabs*********/

.custom_tabs .nav-tabs li.nav-item a {
    border: 0;
}

.custom_tabs .nav-tabs {
    border-bottom: 2px solid #ccc;
}

.custom_tabs .nav-tabs .nav-item {
    margin: 0;
    position: relative;
}

.custom_tabs .nav-tabs .nav-item .nav-link {
    background: #fafafa;
    border: 1px solid #ccc;
    margin: -1px;
    border-radius: 0;
}

.custom_tabs .nav-tabs .nav-item .nav-link:before {
    content: '';
    position: absolute;
    bottom: -2px;
    background: #1e6f95;
    width: 0;
    height: 2px;
    transition: width 0.5s;
    left: 0;
}

.custom_tabs .nav-tabs .nav-item .nav-link.active:before {
    width: 100%;
}

.custom_tabs .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background: #2fa0d4;
    border-color: #2fa0d4;
}

.flex-fill {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}

.custom_tabs .tab-content {
    margin-top: 15px;
}
.admin-logo{max-width: 70%}
.image-profile-user {
    max-width: 80%;
    border-radius: 11%;
}

/********end custom_tabs*********/


/* end pradeep's style */